<!-- eslint-disable -->
<template>
  <div class="table-responsive">
    <app-section-loader :status="loader"></app-section-loader>

    <v-data-table :headers="headers" :items="data.data" hide-default-footer>
      <template>
        <tr>
          <th v-for="header in headers" :key="header.text">
            <b>{{ header.text }}</b>
          </th>
        </tr>
      </template>
      <template v-slot:item="{ item }">
        <tr>
          <td class="text-nowrap">
            {{ item.name }}
          </td>
          <td>{{ item.date_end }}</td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import api from "Api";

export default {
  data() {
    return {
      loader: true,
      data: [],
      headers: [
        {
          text: "Titulo",
          sortable: false,
          value: "Titulo",
        },
        {
          text: "Data Inicio",
          sortable: false,
          value: "Data",
        },
      ],
    };
  },
  mounted() {
    this.getLastEvents();
  },
  methods: {
    getLastEvents() {
      const self = this;
      api
        .get("/api/dashboard/getFutureEvents")
        .then((response) => {
		  this.data = response.data;

          this.loader = false;		  
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>