<!-- eslint-disable -->
<template>
  <div>
    <v-dialog v-model="modalDelete" max-width="500">
      <v-card>
        <v-card-title class="headline">Tem a certeza?</v-card-title>
        <v-card-text>Irá ser removido da base dados.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="warning" text="text" @click.native="modalDelete = false">Cancelar</v-btn>
          <v-btn color="success" text="text" @click.native="deleteNews">Continuar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div class="table-responsive">
      <app-section-loader :status="loader"></app-section-loader>

      <v-data-table :headers="headers" :items="news.data" :options.sync="options" :server-items-length="news.total">
        <template>
          <tr>
            <th v-for="header in headers" :key="header.text">
              <b>{{ header.text }}</b>
            </th>
          </tr>
        </template>
        <template v-slot:item="{ item }">
          <tr>
            <td class="text-nowrap">{{ item.title }}</td>
            <td>{{ item.created_at }}</td>
            <td style="text-align: right;">
              <router-link :to="{ name: 'editNews', params: { id: item.id }}">
                <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"  :to="{ name: 'editNews', params: { id: item.id }}">
                  <span class="v-btn__content">
                    <i aria-hidden="true" class="v-icon notranslate primary--text material-icons theme--light">edit</i>
                  </span>
                </button>
              </router-link>

              <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"  @click="confirmDelete(item.id)">
                <span class="v-btn__content">
                  <i aria-hidden="true" class="v-icon notranslate error--text material-icons theme--light">close</i>
                </span>
              </button>
            </td>
          </tr>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
  import axios from "axios";

  export default {
    data() {
      return {
        loader: true,
        options: {},
        news: {
          data: [],
          total: 0,
          per_page: 10,
          from: 1,
          to: 0,
          current_page: 1,
        },
        headers: [
        {
          text: "Titulo",
          sortable: false,
          value: "Titulo",
        },
        {
          text: "Data",
          sortable: false,
          value: "Data",
        },
        {
          text: "",
          sortable: false,
          value: "",
        },
        ],
        query: null,
        modalDelete: false,
        selectedToDelete: null,
      };
    },
    mounted() {
      this.get();
    },
    methods: {
      get() {
        axios.get("/api/news/getNews", {
          params: {
            page: this.news.current_page,
            per_page: this.news.per_page,
            query: this.query
          }
        })
        .then((response) => {
          this.news = response.data;

          $.each(this.news.data, function(key, value) {
            value.title = JSON.parse(value.title)['pt'];
          });

          this.loader = false;

        }).catch((error) => {
          console.log(error);
        });
      },
      confirmDelete(id) {
        this.modalDelete = true;
        this.selectedToDelete = id;
      },
      deleteNews: function() {
        axios.get("/api/news/delete/" + this.selectedToDelete).then((response) => {
          this.modalDelete = false;
          this.get();
        })
        .catch((error) => {
          console.log(error);
        });
      },
    },
    watch: {
      options: {
        handler() {
          this.news.current_page = this._data.options.page;
          this.news.per_page = this._data.options.itemsPerPage;
          this.get();
        },
        deep: true,
      },
    },
    
  };
</script>