<template>
  <div>
    <Flash ref="flash"></Flash>

    <div v-if="loader == false">

      <app-card class="col-md-12">
        <h3 style="text-transform: capitalize;">{{ this.page.replace('-', ' ') }}</h3>
      </app-card>

      <app-card class="col-md-12">

        <v-tabs class="mb-3 pb-3">
          <v-tab @click="tab = item.locale" v-for="item in this.$store.getters.languages" :index="'lang_' + item.locale" :key="'lang_' + item.locale" ref="tab">{{ item.name }}</v-tab>
        </v-tabs>

        <v-text-field v-for="item in this.$store.getters.languages" :key="'title_' + item.locale" v-show="tab == item.locale" v-model="data.title[item.locale]" label="Título"></v-text-field>
        <quill-editor v-for="item in this.$store.getters.languages" :key="'content_' + item.locale" v-show="tab == item.locale" v-model="data.content[item.locale]" ref="editor" :options="options" ></quill-editor>
      </app-card>

      <app-card class="col-md-12">
        <v-btn color="success" @click.stop="save()">Guardar</v-btn>
      </app-card>
    </div>

    <div v-else>
      <Progress></Progress>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['page'],

    components: { },

    data() {
      return {
        loader: true,

        tab: 'en',

        options: {
          placeholder: 'Conteúdo da página...',
        },

        data: {},

        errors: [],
      };
    },

    mounted() {
      this.get();
    },

    methods: {
      get() {
        this.loader = true;
        axios.get('/dashboard/pages/fetch/' + this.page).then(response => {
          if ( Object.keys(response.data).length > 0 ) {
            this.data = response.data;
            this.data.title = JSON.parse(response.data.title);
            this.data.content = JSON.parse(response.data.content);
          }
          else {
            this.data = {
              url: this.page,
              title: {},
              content: {}
            }
          }
          this.loader = false;
        }).catch(errors => {
          console.log(errors);
        });
      },
      save() {
        this.loader = true;
        axios.post("/dashboard/pages/store/" + this.page, this.data ).then((response) => {
          this.$refs.flash.handler(true, 'success', 'Guardado com sucesso!');
          setTimeout(() => location.reload() , 500);
        }).catch((error) => {
          console.log(error);
          if ( error.response.status == 422 ) {
            this.errors = [];
            Object.keys(error.response.data.errors).map((key) => {
              this.errors.push(key);
            });
          }
        });
      }
    },

    watch: {
      page: {
        deep: true,

        handler() {
          this.get();
          this.$refs.tab[0].$el.click();
        }
      }
    }

  };
</script>