<template>
  <div v-if="loader == false">

    <app-card class="col-md-12">
      <h3>Homepage</h3>
    </app-card>

    <v-tabs class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <v-tab @click="tab = 1">Hero</v-tab>
      <v-tab @click="tab = 2">Texto</v-tab>
      <v-tab @click="tab = 3">Slider</v-tab>
      <v-tab @click="tab = 4">Vídeo</v-tab>
      <!-- <v-tab @click="tab = 5">Designers</v-tab> -->
    </v-tabs>

    <app-card class="col-md-12" v-show="tab == 1">
      <Slider :data="data.slider" @updated="get()"></Slider>
    </app-card>

    <app-card class="col-md-12" v-show="tab == 2">
      <Text_One :data="data.text_one" @updated="get()"></Text_One>
    </app-card>

    <app-card class="col-md-12" v-show="tab == 3">
      <Slider_Two :data="data.slider_two" :manufacturers="manufacturers" @updated="get()"></Slider_Two>
    </app-card>

    <app-card class="col-md-12" v-show="tab == 4">
      <Video :data="data.video" :manufacturers="manufacturers" @updated="get()"></Video>
    </app-card>

    <app-card class="col-md-12" v-show="tab == 5">
      <Designers :data="data.slider_three" :manufacturers="manufacturers" @updated="get()"></Designers>
    </app-card>
  </div>

  <div v-else>
    <Progress></Progress>
  </div>
</template>

<script>
  import Slider from './components/Slider.vue';
  import Text_One from './components/Text_One.vue';
  import Slider_Two from './components/Slider_Two.vue';
  import Video from './components/Video.vue';
  import Designers from './components/Designers.vue';

  export default {
    props: [

    ],

    components: {
      Slider,
      Text_One,
      Video,
      Slider_Two,
      Designers
    },

    data() {
      return {
        loader: true,
        tab: 1,
        data: {},
        manufacturers: null,
      };
    },

    mounted() {
      this.get();
    },

    methods: {
      get() {
        const get_homepage = axios.get('/dashboard/pages/homepage/get');
        const get_manufacturers = axios.get('/dashboard/manufacturers/get');

        axios.all([get_homepage, get_manufacturers]).then(response => {
          this.data = response[0].data;
          this.manufacturers = response[1].data;
          this.loader = false;
        }).catch(errors => {
          console.log(errors);
        });
      }
    },
  };
</script>