<template>
  <div v-if="loader == false">
    <homepage v-if="page == 'homepage'"></homepage>
    <categories v-else-if="page == 'categories'"></categories>
    <customPage :page="page" v-else></customPage>
  </div>

  <div v-else>
    <Progress></Progress>
  </div>
</template>

<script>
  import homepage from './homepage.vue';
  import customPage from './custom-page.vue';
  import categories from './categories/index.vue';

  export default {
    props: ['page'],

    components: {
      homepage,
      customPage,
      categories
    },

    data() {
      return {
        url: window.baseUrl,
        loader: true
      };
    },

    mounted() {
      this.loader = false;
    },

    methods: {

    }
  };
</script>