<!-- Header Structure -->
<template>
  <div>
    <v-navigation-drawer
    v-if="!horizontal"
    app
    fixed
    v-model="drawer"
    :mini-variant.sync="sidebarState"
    mini-variant-width="70"
    :width="250"
    class="Vuely-sidebar"
    :style="{backgroundImage: 'url(' + selectedSidebarBgImage.url + ')'}"
    :class="{'background-none': !backgroundImage}"
    :right="rtlLayout"
    >
    <!-- App Sidebar -->
    <app-sidebar></app-sidebar>
  </v-navigation-drawer>

  <v-app-bar class="Vuely-toolbar" app :color="activeHeaderFilter.class" fixed>
    <div class="col-md-12">
      <h3>{{ title }}</h3>
    </div>
  </v-app-bar>

</v-navigation-drawer>
</div>

</template>

<script>
  import Sidebar from "../Sidebar/Sidebar.vue";
  import User from "./User";
  import { getCurrentAppLayout } from "Helpers/helpers";
  import { mapGetters } from "vuex";

  export default {
    props: {
      horizontal: {
        default: false,
        type: Boolean
      },
      title: {
        default: false,
        type: String
      }
    },
    data() {
      return {
      collapsed: false, // collapse sidebar
      drawer: null, // sidebar drawer default true
      enableDefaultSidebar: false
    };
  },
  computed: {
    ...mapGetters([
      "rtlLayout",
      "backgroundImage",
      "backgroundImage",
      "selectedSidebarBgImage",
      "collapseSidebar",
      "activeHeaderFilter"
      ]),
    sidebarState: {
      get: function() {
        return this.collapseSidebar;
      },
      set: function() {
        return this.collapseSidebar;
      }
    }
  },
  methods: {
    // toggle full screen method
    toggleFullScreen() {
      if (screenfull.enabled) {
        screenfull.toggle();
      }
    },
    sidebarPath(link) {
      this.$store.dispatch("setActiveMenuGroup", { pathURL: link });
      this.$router.push(this.getMenuLink(link));
    },
    getMenuLink(link) {
      return "/" + getCurrentAppLayout(this.$router) + link;
    },
    toggleSearchForm() {
      this.$store.dispatch("toggleSearchForm");
    }
  },
  components: {
    appSidebar: Sidebar,
    User
  }
};
</script>
