<template>
	<div v-if="loader == false">
		<Flash ref="flash"></Flash>
		
		<app-card class="col-sm-12">
			<div>
				<h3>{{ form.name }}</h3>
			</div>

			<div>
				<v-tabs class="col-sm-12">
					<v-tab @click="tab = 1">Textos</v-tab>
					<v-tab @click="tab = 2">Imagens</v-tab>
					<v-tab @click="tab = 3">Ordem</v-tab>
				</v-tabs>

				<div v-show="tab == 1" class="col-sm-12">
					<div v-for="item in this.$store.getters.languages" :key="'item' + item.locale" class="pb-3 mb-3">
						<v-textarea :label="'Texto ' + item.name" v-model="form.texto[item.locale]"></v-textarea>
					</div>
				</div>

				<div v-show="tab == 2" class="col-sm-12">
					<div class="pb-3 mb-3">
						<label>Imagem de perfil</label>
						<dropzone id="imagem_perfil" ref="myDopzone" :options="dropzone1" v-bind:class="{ 'error-input' : errors.includes('file') }"></dropzone>
						<v-select :items="positions" :value="positions.value" label="Posição" v-model="form.posicao[0]" class="mt-3 pt-3" :rules="rules.required"></v-select>
					</div>

					<div class="pb-3 mb-3">
						<label>Imagem de produto</label>
						<dropzone id="imagem_produto" ref="myDopzone" :options="dropzone1" v-bind:class="{ 'error-input' : errors.includes('file') }"></dropzone>
						<v-select :items="positions" :value="positions.value" label="Posição" v-model="form.posicao[1]" class="mt-3 pt-3" :rules="rules.required"></v-select>
					</div>

					<div class="pb-3 mb-3">
						<label>Imagem de assinatura</label>
						<dropzone id="imagem_assinatura" ref="myDopzone" :options="dropzone1" v-bind:class="{ 'error-input' : errors.includes('file') }"></dropzone>						
					</div>
				</div>

				<div v-show="tab == 3" class="col-sm-12">
					<v-text-field label="Ordem" v-model="form.order"></v-text-field>
				</div>

				<div class="col-sm-12 pl-0 ml-0 pt-3">
					<v-btn color="success" @click.stop="save()">Guardar</v-btn>
				</div>
			</div>
		</app-card>
	</div>

	<div v-else>
		<Progress></Progress>
	</div>
</template>

<script>

	export default {
		props: ['id'],

		components: { },

		data() {
			const $vm = this;

			return {
				url: window.baseUrl,
				loader: true,
				tab: 1,
				form: {},
				formData: new FormData(),
				preview: {},
				errors: [],

				positions: [
				{
					value: 'left',
					text: 'Esquerda'
				},
				{
					value: 'center',
					text: 'Centro'
				},
				{
					value: 'right',
					text: 'Direita'
				}
				],

				rules: {
					required: [value => !!value || "Campo obrigatório."]
				},

				dropzone1: {
					url: "/dashboard/manufacturers/upload/image/" + this.id,
					dictDefaultMessage: "Imagem (pré visualização)*.",
					maxFilesize: 30,
					maxFiles: 1,
					addRemoveLinks: true,
					acceptedFiles: ".jpg, .png, .webp",
					headers: { "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content },
					init: function() {

						if ( $vm.form.info[this.element.id] ) {
							let cloneImg = Object.assign($vm.form.info[this.element.id]);

							this.emit("addedfile", cloneImg);
							this.emit("thumbnail", cloneImg, $vm.url + '/images/manufacturers/' + $vm.id + '/' + $vm.form.info[this.element.id]);
							this.emit("complete", cloneImg);
							$vm.form[this.element.id] = $vm.form.info[this.element.id];
						}
					},
					success: function(file, response){
						$vm.form[this.element.id] = response;
						file.upload.name = response;
					},
					//Quando se clica em 'Remover'
					removedfile: function(file) {
						$vm.form[this.element.id] = null;
						file.previewElement.remove();
					},
					maxfilesexceeded: function(file) {
						file.previewElement.remove();
					},
					error: function(file) {
						if ( file.status == "error" ) {
							file.previewElement.remove();
						}
					},
				},
			};
		},

		mounted() {
			this.get();
		},

		methods: {
			removeImage(value) {
				axios.put('/dashboard/manufacturers/removeImage/' + value + '/' + this.id).then(response => {
					this.get();
					this.$forceUpdate();
				}).catch(errors => {
					console.log(errors);
				});
			},
			get() {
				axios.get('/dashboard/manufacturers/fetch/'+this.id).then(response => {
					if ( response.data.info ) {
						this.form = Object.assign(response.data, response.data.info);
						this.form.texto = response.data.info.texto ? response.data.info.texto : {};

						if ( response.data.info.posicao ) {
							this.form.posicao = JSON.parse(response.data.info.posicao);
						}
						else {
							this.form.posicao = [];
						}

					}

					this.loader = false;
				}).catch(errors => {
					console.log(errors);
				});
			},
			previewImages() {
				if ( this.form.imagem_perfil ) {
					this.preview.imagem_perfil = URL.createObjectURL(this.form.imagem_perfil);
				}

				if ( this.form.imagem_produto ) {
					this.preview.imagem_produto = URL.createObjectURL(this.form.imagem_produto);
				}

				if ( this.form.imagem_assinatura ) {
					this.preview.imagem_assinatura = URL.createObjectURL(this.form.imagem_assinatura);
				}
			},
			save() {
				axios.post('/dashboard/manufacturers/update/' + this.id, this.form).then(response => {
					this.loader = false;
					this.$refs.flash.handler(true, 'success', 'Guardado com sucesso!');
					setTimeout(() => window.location.href = "/dashboard/designers", 1500);
				}).catch(error => {
					if ( error.response.status == 422 ) {
						this.errors = [];
						Object.keys(error.response.data.errors).map((key) => {
							this.errors.push(key);
						});
					}
				});
			}
		}
	};
</script>