<template>
  <div v-if="loader == false">
    <app-card class="col-sm-12">

      <v-data-table :headers="headers" :items="data" :footer-props="{ itemsPerPageText: 'Mostrar' }">
        <template v-slot:item="{ item }">
          <tr>
            <td>
              {{ item.id_manufacturer }}
            </td>
            <td>
              {{ item.name }}
            </td>
            <td>
              {{ item.info.order }}
            </td>
            <td>
              <span class="v-btn__content">
                <i class="zmdi zmdi-check" v-if="item.active == 1"></i>
                <i class="zmdi zmdi-close" v-else></i>
              </span>
            </td>
            <td>
              <router-link :to="'designers/' + item.id_manufacturer" v-if="item.active == 1">
                <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default">
                  <span class="v-btn__content">
                    <i aria-hidden="true" class="v-icon notranslate primary--text material-icons theme--light">edit</i>
                  </span>
                </button>
              </router-link>
            </td>
          </tr>
        </template>
      </v-data-table>

    </app-card>
  </div>

  <div v-else>
    <Progress></Progress>
  </div>
</template>

<script>

  export default {
    props: [],

    components: {},

    data() {
      return {
        url: window.baseUrl,
        loader: true,
        data: {},
        headers: [
        { text: "#" },
        { text: "Nome" },
        { text: "Ordem" },
        { text: "Activo" },
        { text: "Editar" }
        ],
      };
    },

    mounted() {
      this.get();
    },

    methods: {
      get() {
        axios.get('/dashboard/manufacturers/get').then(response => {
          this.data = response.data;
          this.loader = false;
        }).catch(errors => {
          console.log(errors);
        });
      }
    }
  };
</script>