<template>
  <div class="session-wrapper">
    <div class="session-right text-center" style="margin: 0px">
      <div class="session-table-cell">
        <div class="session-content">
          <img :src="appLogo" class="img-responsive mb-4" width="200" height="200" />

          <!--
          <p
            class="fs-14"
          >{{$t('message.enterUsernameAndPasswordToAccessControlPanelOf')}} {{brand}}.</p>-->
          
          <v-form v-model="valid" class="mb-5">
            <v-text-field label="E-mail ID" v-model="email" :rules="emailRules" required></v-text-field>
            <v-text-field
              label="Password"
              v-model="password"
              type="password"
              :rules="passwordRules"
              required
            ></v-text-field>
            <v-checkbox color="primary" label="Remember me" v-model="checkbox"></v-checkbox>

            <!--
            <router-link
              class="mb-2"
              to="/dashboard/forgot-password"
            >{{$t('message.forgotPassword')}}?</router-link>-->
            <div>
              <v-btn
                large
                class="mb-2"
                @click="signInWithLaravelPassport"
                block
                color="primary"
              >Entrar</v-btn>
              <!--
              <v-btn
                large
                @click="onCreateAccount"
                block
                color="warning"
                class="mb-2"
              >{{$t('message.createAccount')}}</v-btn>-->
            </div>
          </v-form>
          <!--<div class="session-social-links d-inline-block">
            <v-btn color="error" @click="signinWithAuth0">Signin With Auth0</v-btn>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import firebase from "firebase/app";
// import { mapGetters } from "vuex";
import AppConfig from "Constants/AppConfig";

//import AuthService from "../../auth/AuthService";

//const auth = new AuthService();
// const { login, logout, authenticated, authNotifier } = auth;

//const { login } = auth;

export default {
  data() {
    return {
      checkbox: false,
      valid: false,
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      password: "",
      passwordRules: [v => !!v || "Password is required"],
      appLogo: AppConfig.appLogo2,
      brand: AppConfig.brand
    };
  },
  methods: {
    submit() {
      const user = {
        email: this.email,
        password: this.password
      };

      this.$store.dispatch("signinUserInFirebase", {
        user
      });
    },
    signInWithLaravelPassport() {
      const user = {
        email: this.email,
        password: this.password
      };
      this.$store.dispatch("signInWithLaravelPassport", {
        user
      });
    },
    onCreateAccount() {
      this.$router.push("/dashboard/sign-up");
    }
    /*signinWithAuth0() {
      login();
    }*/
  }
};
</script>
