<template>
  <div>
    <app-card class="col-sm-12">
      <Progress v-if="loading"></Progress>
      <p>{{ message }}</p>
    </app-card>
  </div>
</template>

<script>

  export default {
    props: [],

    components: {},

    data() {
      return {
        message: 'A atualizar...',
        loading: true
      };
    },

    mounted() {
      this.update();
    },

    methods: {
      update() {
        axios.get('https://flametluceluminaires.com/api/update/images').then((response) => {
          console.log(response);
          this.message = "Atualizado com sucesso!";
          this.loading = false;
        })
        .catch(function (error) {

          console.log(error);
        });
      }
    }
  };
</script>