<template>
	<div v-if="loader == false">
		<Flash ref="flash"></Flash>
		
		<app-card class="col-sm-12">
			<div>
				<h3>{{ page }}</h3>
			</div>

			<div>
				<v-tabs class="col-sm-12">
					<v-tab @click="tab = 1">Imagens</v-tab>
				</v-tabs>

				<div v-show="tab == 1">
					<v-form v-model="formValid" ref="myForm">
						<app-card class="pb-3 mb-3">
							<v-file-input label="Imagem (esquerda)" v-model="form.imagem_esquerda" class="mb-3" prepend-icon="" dense counter show-size @change="previewImages" :rules="rules.required"></v-file-input>
							<v-select :items="positions" :value="positions.value" label="Posição" v-model="form.posicao[0]" class="mt-3 pt-3"></v-select>
							<v-img :src="preview.imagem_esquerda" width="200px" class="mb-6"></v-img>
							<v-img v-if="form.imagem_esquerda && !preview.imagem_esquerda" :src="url+'/images/manufacturers/'+form.id_manufacturer+'/'+form.imagem_esquerda" width="200px" class="mb-6"></v-img>
						</app-card>

						<app-card class="pb-3 mb-3">
							<v-file-input label="Imagem (direita)" v-model="form.imagem_direita" class="mb-3" prepend-icon="" dense counter show-size @change="previewImages" :rules="rules.required"></v-file-input>
							<v-select :items="positions" :value="positions.value" label="Posição" v-model="form.posicao[1]" class="mt-3 pt-3"></v-select>
							<v-img :src="preview.imagem_direita" width="200px" class="mb-6"></v-img>
							<v-img v-if="form.imagem_direita && !preview.imagem_direita" :src="url+'/images/manufacturers/'+form.id_manufacturer+'/'+form.imagem_direita" width="200px" class="mb-6"></v-img>
						</app-card>
					</v-form>
				</div>

				<div class="col-sm-12 pl-0 ml-0 pt-3">
					<v-btn color="success" @click.stop="save()">Guardar</v-btn>
				</div>
			</div>
		</app-card>
	</div>

	<div v-else>
		<Progress></Progress>
	</div>
</template>

<script>

	export default {
		props: ['page','page_id'],

		components: { },

		data() {
			return {
				url: window.baseUrl,
				loader: true,

				tab: 1,

				action: null,

				form: {},
				formData: new FormData(),

				preview: {},
				errors: [],

				positions: [
				{
					value: 'left',
					text: 'Esquerda'
				},
				{
					value: 'center',
					text: 'Centro'
				},
				{
					value: 'right',
					text: 'Direita'
				}
				],

				formValid: false,
				rules: {
					required: [value => !!value || "Campo obrigatório."]
				}
			};
		},

		mounted() {
			this.get();
		},

		methods: {
			get() {
				axios.get('/dashboard/pages/fetch/' + this.page).then(response => {

					if ( response.data ) {
						this.form = JSON.parse(response.data.content);

						this.preview.imagem_esquerda = this.url+'/categories/'+this.form.imagem_esquerda;
						this.preview.imagem_direita = this.url+'/categories/'+this.form.imagem_direita;

						this.form = {
							id_category: this.page_id,
							imagem_direita: null,
							imagem_esquerda: null,
							posicao: JSON.parse(this.form.posicao)
						}

						this.action = 'update';
					}
					else {
						this.form = {
							id_category: this.page_id,
							imagem_direita: null,
							imagem_esquerda: null,
							posicao: []
						}

						this.action = 'store';
					}

					this.form.action = this.action;
					this.form.url = this.page;
					this.form.is_category = true;
					
					this.loader = false;
				}).catch(errors => {
					console.log(errors);
				});
			},
			previewImages() {
				if ( this.form.imagem_direita ) {
					this.preview.imagem_direita = URL.createObjectURL(this.form.imagem_direita);
				}

				if ( this.form.imagem_esquerda ) {
					this.preview.imagem_esquerda = URL.createObjectURL(this.form.imagem_esquerda);
				}
			},
			save() {
				if ( this.action == 'store' ) {
					this.$refs.myForm.validate();
				}
				

				Object.keys(this.form).map((key, value) => {

					if ( this.form[key] ) {
						if ( key == 'texto' || key == 'posicao' ) {
							this.formData.append(key, JSON.stringify(this.form[key]));
						}
						else {
							this.formData.append(key, this.form[key]);
						}
					}

				});


				axios.post('/dashboard/pages/store/' + this.page, this.formData).then(response => {
					this.loader = false;
					this.$refs.flash.handler(true, 'success', 'Guardado com sucesso!');
					//setTimeout(() => window.location.href = "/dashboard/designers", 1500);
				}).catch(error => {
					console.log(error);
					if ( error.response.status == 422 ) {
						this.errors = [];
						Object.keys(error.response.data.errors).map((key) => {
							this.errors.push(key);
						});
					}
				});
			}
		}
	};
</script>