<template>
  <div>
    <Flash ref="flash"></Flash>

    <div v-if="loader == false">

      <app-card class="col-md-12">
        <h3 style="text-transform: capitalize;">Categorias</h3>
      </app-card>

      <app-card class="col-md-12">
        <v-data-table :headers="headers" :items="categories" :hide-default-footer="true">
          <template v-slot:item="{ item }">
            <tr>
              <td>{{ item.category.name }}</td>
              <td>
                <!--<router-link :to="'/dashboard/pages/categories/'+item.category.link_rewrite">-->
                  <router-link :to="{ name: 'categoriesForm', params: { page: item.category.link_rewrite, page_id: item.id_category } }">
                    <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default">
                      <span class="v-btn__content">
                        <i aria-hidden="true" class="v-icon notranslate primary--text material-icons theme--light">edit</i>
                      </span>
                    </button>
                  </router-link>
                </td>
              </tr>
            </template>
          </v-data-table>
        </app-card>

      </div>

      <div v-else>
        <Progress></Progress>
      </div>
    </div>
  </template>

  <script>

    export default {
      props: ['page'],

      components: { },

      data() {
        return {
          loader: true,
          categories: {},

          headers: [
          { text: "Página" },
          { text: "Opções" }
          ],
        };
      },

      mounted() {
        this.get();
      },

      methods: {
        get() {
          this.loader = true;
          axios.get('/dashboard/pages/categories/get').then(response => {
            this.categories = response.data;
            this.loader = false;
          }).catch(errors => {
            console.log(errors);
          });
        }
      },

      watch: {

      }
    };
  </script>