<template>
	<div v-if="loader == false">
		<Flash ref="flash"></Flash>
		
		<app-card class="col-sm-12">
			<h3 class="pb-3 mb-3">{{ data.lang.name }}</h3>

			<img :src="url + '/img/products/' + data.id_product + '/' + data.ambiente.id_image + '.jpg'" height="120px" class="pb-3 mb-3">

			<v-form ref="form">

				<label>Posição Horizontal</label>
				<select v-model="form.position_x" class="col-12 mb-3">
					<option v-for="item in positions_x" :value="item.value">{{ item.name }}</option>
				</select>

				<label class="mt-3">Posição Vertical</label>
				<select v-model="form.position_y" class="col-12 mb-3">
					<option v-for="item in positions_y" :value="item.value">{{ item.name }}</option>
				</select>

				<div class="col-sm-12 pl-0 ml-0 pt-3">
					<v-btn color="success" @click.stop="save()">Guardar</v-btn>
				</div>
			</v-form>

		</app-card>
	</div>

	<div v-else>
		<Progress></Progress>
	</div>
</template>

<script>

	export default {
		props: ['id'],

		components: { },

		data() {
			return {
				url: window.baseUrl,
				loader: true,

				rules: {
					required: [value => !!value || "Campo obrigatório."]
				},

				positions_x: {
					'center': {
						name: 'Centro',
						value: 'center'
					},
					'left': {
						name: 'Esquerda',
						value: 'left'
					},
					'right': {
						name: 'Direita',
						value: 'right'
					}
				},

				positions_y: {
					'center': {
						name: 'Centro',
						value: 'center'
					},
					'left': {
						name: 'Top',
						value: 'top'
					},
					'right': {
						name: 'Bottom',
						value: 'bottom'
					}
				},

				data: {},
				
				form: {},
				
				preview: {},
				errors: [],
			};
		},

		mounted() {
			this.get();
		},

		methods: {
			get() {
				axios.get('/dashboard/ambientes/fetch/' + this.id).then(response => {
					this.data = response.data;
					this.form = response.data.ambiente.lang;
					this.loader = false;
					console.log(response.data.ambiente.id_image);
				}).catch(errors => {
					console.log(errors);
				});
			},
			save() {
				axios.post('/dashboard/ambientes/update/' + this.data.ambiente.id_image, this.form).then(response => {
					this.loader = false;
					this.$refs.flash.handler(true, 'success', 'Guardado com sucesso!');

					setTimeout(() => window.location.href = "/dashboard/ambientes", 1500);
				}).catch(error => {
					console.log(error);
					if ( error.response.status == 422 ) {
						this.$refs.flash.handler(true, 'error', 'Campos em falta!');
						this.errors = [];
						Object.keys(error.response.data.errors).map((key) => {
							this.errors.push(key);
						});
					}
				});
				
			}
		}
	};
</script>

<style>
select {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
</style>