<template>
  <div v-if="loader == false">

    <Flash ref="flash"></Flash>
    <Delete ref="delete" @onConfirm="deleteFunction"></Delete>

    <app-card class="col-sm-12">

      <v-data-table :headers="headers" :items="data" :footer-props="{ itemsPerPageText: 'Mostrar' }">
        <template v-slot:item="{ item }">
          <tr>
            <td>{{ item.lang.name }}</td>
            <td>
              <img :src="url + '/img/products/' + item.id_product + '/' + item.ambiente.id_image + '.jpg'" height="120px">
            </td>
            <td>{{ item.ambiente.lang.position_x }}</td>
            <td>{{ item.ambiente.lang.position_y }}</td>
            <td>
              <router-link :to="'ambientes/form/' + item.id_product">
                <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default">
                  <span class="v-btn__content">
                    <i aria-hidden="true" class="v-icon notranslate primary--text material-icons theme--light">edit</i>
                  </span>
                </button>
              </router-link>
            </td>
          </tr>
        </template>
      </v-data-table>

    </app-card>
  </div>

  <div v-else>
    <Progress></Progress>
  </div>
</template>

<script>

  export default {
    props: [],

    components: { },

    data() {
      return {
        url: window.baseUrl,
        loader: true,
        data: {},
        headers: [
        { text: "Produto" },
        { text: "Imagem" },
        { text: "Pos. Horizotal" },
        { text: "Pos. Vertical" },
        { text: "" }
        ],
        toDelete: null
      };
    },

    mounted() {
      this.get();
    },

    methods: {
      get() {
        axios.get('/dashboard/ambientes/get').then(response => {
          this.data = response.data;
          this.loader = false;
        }).catch(errors => {
          console.log(errors);
        });
      },
      confirmDelete(value) {
        this.$refs.delete.open = true;
        this.toDelete = value;
      },
      deleteFunction() {
        axios.delete("/dashboard/catalogs/delete/" + this.toDelete).then((response) => {
          this.$refs.delete.open = false;
          this.$refs.flash.handler(true, 'success', 'Eliminado com sucesso!');
          this.get();
        }).catch((error) => {
          console.log(error);
        });
      }
    }
  };
</script>