<template>
  <div>

    <Flash ref="flash"></Flash>
    <Delete ref="delete" @onConfirm="deleteFunction"></Delete>

    <!-- Modal -->
    <v-dialog v-model="modal" max-width="500px">
      <v-form v-model="formValid" ref="myForm">
        <v-card>
          <v-card-title>Adicionar Designer</v-card-title>

          <div class="col-sm-12">
            <v-select :items="manufacturers" item-text="name" item-id="id" v-model="form.manufacturer" label="Designer" class="pa-0" :rules="rules.required"></v-select>
            <v-text-field label="Ordem*" v-model="form.ordem" :rules="rules.required"></v-text-field>
          </div>

          <v-card-actions>
            <v-btn color="success" @click.stop="save()">Guardar</v-btn>
            <v-btn color="error" @click.stop="close(true)">Fechar</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>


    <div class="col-sm-12">
      <div class="row">
        <h2 class="mb-6 col-sm-6">Designers</h2>

        <div class="col-sm-6">
          <v-btn class="ma-2" color="primary" @click.prevent="modal=true">Adicionar</v-btn>
        </div>
      </div>
    </div>

    <v-data-table :headers="headers" :items="items" :hide-default-footer="true">
      <template v-slot:item="{ item }">
        <tr>
          <td>{{ item.manufacturer }}</td>
          <td>{{ item.ordem }}</td>
          <td>
            <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"  @click="confirmDelete(item.ordem)">
              <span class="v-btn__content">
                <i aria-hidden="true" class="v-icon notranslate error--text material-icons theme--light">close</i>
              </span>
            </button>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>

  export default {
    props: ['data', 'manufacturers'],

    components: { },

    data() {
      return {
        modal: false,

        headers: [
        { text: "Designer" },
        { text: "Ordem" },
        { text: "Opções" }
        ],

        items: [],

        selectedToDelete: null,

        form: {},

        formValid: false,

        rules: {
          required: [value => !!value || "Campo obrigatório."]
        },

        errors: [],

      };
    },

    mounted() {
      this.get();
    },

    methods: {
      get() {
        this.items = [];

        if ( this.data.slider_three ) {
          Object.keys(this.data).map((key) => {
            this.items.push(JSON.parse(this.data[key]));
          });
        }
      },
      save() {
        this.$refs.myForm.validate();

        axios.put("/dashboard/pages/homepage/slider/desginers", this.form ).then((response) => {
          this.$emit('updated');
          this.close(false);
          this.$refs.flash.handler(true, 'success', 'Inserido com sucesso!');
        }).catch((error) => {
          if ( error.response.status == 422 ) {
            this.$refs.flash.handler(true, 'error', 'Campos em falta!');
            this.errors = [];
            Object.keys(error.response.data.errors).map((key) => {
              this.errors.push(key);
            });
          }
        });
      },
      close() {
        this.modal = false;
        this.form = {};
        this.$emit('updated');
      },
      confirmDelete(value) {
        this.$refs.delete.open = true;
        this.selectedToDelete = value;
      },
      deleteFunction() {
        axios.delete("/dashboard/pages/homepage/slider/desginers/" + this.selectedToDelete).then((response) => {
          this.$refs.delete.open = false;
          this.$refs.flash.handler(true, 'success', 'Eliminado com sucesso!');
          this.$emit('updated');
        }).catch((error) => {
          console.log(error);
        });
      }
    },

    watch: {
      data: {
        handler() {
          this.get();
        },
        deep: true,
      }
    },
    
  };
</script>