<template>
  <div>
    <Flash ref="flash"></Flash>
    <Delete ref="delete" @onConfirm="deleteFunction"></Delete>

    <!-- Modal -->
    <v-dialog v-model="modal" max-width="700px">
      <v-form v-model="formValid" ref="myForm">
        <v-card>
          <v-card-title>Adicionar Slider</v-card-title>

          <v-tabs class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <v-tab @click="tab = 1">Textos</v-tab>
            <v-tab @click="tab = 2">Ordem</v-tab>
            <v-tab @click="tab = 3">Designer</v-tab>
            <v-tab @click="tab = 4">Imagens</v-tab>
            <v-tab @click="tab = 5">URL</v-tab>
          </v-tabs>

          <div class="col-sm-12" v-show="tab == 1">
            <v-text-field
              v-for="item in this.$store.getters.languages"
              :label="'Título ' + item.name"
              v-model="form.title[item.locale]"
              :key="'item' + item.locale"
              class="pb-3"
            ></v-text-field>
          </div>

          <div class="col-sm-12" v-show="tab == 2">
            <v-text-field
              label="Ordem"
              v-model="form.ordem"
              class="pb-3"
              :rules="rules.required"
            ></v-text-field>
          </div>

          <div class="col-sm-12" v-show="tab == 3">
            <v-select
              :items="manufacturers"
              item-text="name"
              item-id="id"
              v-model="form.manufacturer"
              label="Designer"
              class="pa-0"
              :rules="rules.required"
            ></v-select>
          </div>

          <div class="col-sm-12" v-show="tab == 4">
            <dropzone
              class="mb-2"
              id="myDropzone"
              ref="myDropzone"
              :options="dropzone"
              v-bind:class="{ 'error-input': errors.includes('files') }"
            ></dropzone>
            <v-select
              :items="positions"
              :value="positions.value"
              label="Posição"
              v-model="form.posicao[0]"
              class="mt-3 pt-3"
              :rules="rules.required"
            ></v-select>

            <dropzone
              class="mb-2"
              id="myDropzone2"
              ref="myDropzone2"
              :options="dropzone2"
              v-bind:class="{ 'error-input': errors.includes('files') }"
            ></dropzone>
            <v-select
              :items="positions"
              :value="positions.value"
              label="Posição"
              v-model="form.posicao[1]"
              class="mt-3 pt-3"
              :rules="rules.required"
            ></v-select>
          </div>

          <div class="col-sm-12" v-show="tab == 5">
            <v-text-field
              v-for="item in this.$store.getters.languages"
              :label="'URL ' + item.name"
              v-model="form.url[item.locale]"
              :key="'item' + item.locale"
              class="pb-3"
            ></v-text-field>
          </div>

          <!--
            <div class="col-sm-12">
              <div class="row">

                <div class="col-sm-3 mb-4 type-slider" v-bind:class="{ 'type-active' : form.type == 1 }" @click="form.type = 1">
                  <img src="/images/type_1.jpg">
                  <label>Tipo 1</label>
                </div>

                <div class="col-sm-3 mb-4 mr-auto ml-auto type-slider" v-bind:class="{ 'type-active' : form.type == 2 }" @click="form.type = 2">
                  <img src="/images/type_2.jpg">
                  <label>Tipo 2</label>
                </div>

                <div class="col-sm-3 mb-4 type-slider" v-bind:class="{ 'type-active' : form.type == 3 }" @click="form.type = 3">
                  <img src="/images/type_3.jpg">
                  <label>Tipo 3</label>
                </div>

              </div>
            </div>-->

          <v-card-actions>
            <v-btn color="success" @click.stop="save()">Guardar</v-btn>
            <v-btn color="error" @click.stop="close(true)">Fechar</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <div class="col-sm-12">
      <div class="row">
        <h2 class="mb-6 col-sm-6">Slider</h2>

        <div class="col-sm-6">
          <v-btn
            class="ma-2"
            color="primary"
            @click.prevent="openForm('store', null, null)"
            >Adicionar</v-btn
          >
        </div>
      </div>
    </div>

    <v-data-table :headers="headers" :items="items" :hide-default-footer="true">
      <template v-slot:item="{ item }">
        <tr>
          <td>
            <img
              :src="url + '/images/homepage/' + item.files[0]"
              height="180px"
              class="pa-6 pl-0"
            />
            <img
              :src="url + '/images/homepage/' + item.files[1]"
              width="140px"
              class="pa-6 pl-0"
            />
          </td>
          <td>{{ item.title.pt }}</td>
          <td>{{ item.manufacturer }}</td>
          <td>{{ item.ordem }}</td>
          <td>
            <button
              type="button"
              @click.prevent="openForm('update', item, item.id)"
              class="
                mx-0
                v-btn v-btn--flat v-btn--icon v-btn--round
                theme--light
                v-size--default
              "
            >
              <span class="v-btn__content">
                <i
                  aria-hidden="true"
                  class="
                    v-icon
                    notranslate
                    primary--text
                    material-icons
                    theme--light
                  "
                  >edit</i
                >
              </span>
            </button>
            <button
              type="button"
              class="
                mx-0
                v-btn v-btn--flat v-btn--icon v-btn--round
                theme--light
                v-size--default
              "
              @click="confirmDelete(item.id)"
            >
              <span class="v-btn__content">
                <i
                  aria-hidden="true"
                  class="
                    v-icon
                    notranslate
                    error--text
                    material-icons
                    theme--light
                  "
                  >close</i
                >
              </span>
            </button>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>


  <script>
export default {
  props: ["data", "manufacturers"],

  components: {},

  data() {
    const $vm = this;

    return {
      url: window.baseUrl,

      tab: 1,

      modal: false,

      text: null,

      action: null,

      positions: [
        {
          value: "left",
          text: "Esquerda",
        },
        {
          value: "center",
          text: "Centro",
        },
        {
          value: "right",
          text: "Direita",
        },
      ],

      form: {
        title: {},
        type: null,
        posicao: [],
        files: [],
        url: {},
      },

      removeServer: true,
      dropzone: {
        url: "/dashboard/pages/homepage/uploadFileSlider",
        dictDefaultMessage: "Arraste ou selecione os ficheiros.",
        maxFilesize: 10,
        maxFiles: 1,
        addRemoveLinks: true,
        acceptedFiles: ".jpg,.jpeg,.png",
        headers: {
          "X-CSRF-TOKEN":
            document.head.querySelector("[name=csrf-token]").content,
        },
        //Quando faz upload com sucesso
        success: function (file, response) {
          $vm.form.files[0] = response;
          file.upload.name = response;
        },
        //Quando se clica em 'Remover'
        removedfile: function (file) {
          if ($vm.removeServer != false) {
            $vm.removeFile(file.upload.name, "homepage");
          }
          file.previewElement.remove();
        },
        //Quando excede o nº ficheiros
        maxfilesexceeded: function (file) {
          file.previewElement.remove();
        },
        //Quando falha o tipo de ficheiro .PDF || ou Erro
        error: function (file) {
          if (file.status == "error") {
            file.previewElement.remove();
          }
        },
      },

      dropzone2: {
        url: "/dashboard/pages/homepage/uploadFileSlider",
        dictDefaultMessage: "Arraste ou selecione os ficheiros.",
        maxFilesize: 10,
        maxFiles: 1,
        addRemoveLinks: true,
        acceptedFiles: ".jpg,.jpeg,.png",
        headers: {
          "X-CSRF-TOKEN":
            document.head.querySelector("[name=csrf-token]").content,
        },
        //Quando faz upload com sucesso
        success: function (file, response) {
          $vm.form.files[1] = response;
          file.upload.name = response;
        },
        //Quando se clica em 'Remover'
        removedfile: function (file) {
          if ($vm.removeServer != false) {
            $vm.removeFile(file.upload.name, "homepage");
          }
          file.previewElement.remove();
        },
        //Quando excede o nº ficheiros
        maxfilesexceeded: function (file) {
          file.previewElement.remove();
        },
        //Quando falha o tipo de ficheiro .PDF || ou Erro
        error: function (file) {
          if (file.status == "error") {
            file.previewElement.remove();
          }
        },
      },

      headers: [
        { text: "Imagem" },
        { text: "Título" },
        { text: "Designer" },
        { text: "Ordem" },
        { text: "Opções" },
      ],

      items: [],

      selectedToDelete: null,

      formValid: false,
      rules: {
        required: [(value) => !!value || "Campo obrigatório."],
      },
      errors: [],
    };
  },

  mounted() {
    this.get();
  },

  methods: {
    openForm(action, item, id) {
      this.action = action;
      this.modal = true;
      this.form = item
        ? item
        : { title: {}, type: null, posicao: [], files: [], url: {} };
    },
    get() {
      if (this.data) {
        this.items = this.data ? this.data : [];
      }
    },
    save() {
      this.$refs.myForm.validate();

      let url =
        this.action == "store" ? this.action : this.action + "/" + this.form.id;

      axios
        .post("/dashboard/pages/homepage/slider_two/" + url, this.form)
        .then((response) => {
          this.close(false);
          this.$refs.flash.handler(true, "success", "Inserido com sucesso!");
        })
        .catch((error) => {
          if (error.response.status == 422) {
            this.$refs.flash.handler(true, "error", "Campos em falta!");
            this.errors = [];
            Object.keys(error.response.data.errors).map((key) => {
              this.errors.push(key);
            });
          }
        });
    },
    close(remove) {
      this.modal = false;
      this.form = {
        title: {},
        type: null,
        posicao: [],
        files: [],
        url: {},
      };
      this.removeServer = remove;
      this.$refs.myDropzone.removeAllFiles(true);
      this.$refs.myDropzone2.removeAllFiles(true);
      this.$emit("updated");
    },
    removeFile(file, disk) {
      axios
        .post("/dashboard/pages/homepage/removeFileSlider", {
          file: file,
          disk: disk,
        })
        .then((response) => {
          this.$refs.flash.handler(true, "success", "Eliminado!");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    confirmDelete(value) {
      this.$refs.delete.open = true;
      this.selectedToDelete = value;
    },
    deleteFunction() {
      axios
        .delete(
          "/dashboard/pages/homepage/removeSliderTwo/" + this.selectedToDelete
        )
        .then((response) => {
          this.$refs.delete.open = false;
          this.$refs.flash.handler(true, "success", "Eliminado com sucesso!");
          this.$emit("updated");
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  watch: {
    data: {
      handler() {
        this.items = this.data ? this.data : [];
      },
      deep: true,
    },
  },
};
</script>