<template>
  <div>
    <Flash ref="flash"></Flash>
    <Delete ref="delete" @onConfirm="deleteFunction"></Delete>

    <!-- Modal -->
    <v-dialog v-model="modal" max-width="500px">
      <v-form v-model="formValid" ref="myForm">
        <v-card>
          <v-card-title>Adicionar Slider</v-card-title>

          <div class="col-sm-12">
            <dropzone class="mb-2" id="myDopzone" ref="myDopzone" :options="dropzone" v-model="form.file" v-bind:class="{ 'error-input' : errors.includes('file') }" @click="form.type = 1"></dropzone>

            <v-select :items="positions" :value="positions.value" label="Posição" v-model="form.posicao" class="mt-3 pt-3" :rules="rules.required"></v-select>

            <v-text-field label="Ordem*" v-model="form.ordem" :rules="rules.required"></v-text-field>

            <v-text-field v-for="item in this.$store.getters.languages" :label="'URL ' + item.name " v-model="form.url[item.locale]" :key="'item' + item.locale" class="pb-3"></v-text-field>
          </div>

          <v-card-actions>
            <v-btn color="success" @click.stop="save()">Guardar</v-btn>
            <v-btn color="error" @click.stop="close(true)">Fechar</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <div class="col-sm-12">
      <div class="row">
        <h2 class="mb-6 col-sm-6">Hero</h2>

        <div class="col-sm-6">
          <v-btn class="ma-2" color="primary" @click.prevent="openForm('store', null, null)">Adicionar</v-btn>
        </div>
      </div>
    </div>

    <v-data-table :headers="headers" :items="items" :hide-default-footer="true">
      <template v-slot:item="{ item }">
        <tr>
          <td><img :src="url+'/images/homepage/'+item.file" height="180px" class="pa-6 pl-0"></td>
          <td>{{ item.ordem }}</td>
          <td>
            <button type="button" @click.prevent="openForm('update', item, item.id)" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default">
              <span class="v-btn__content">
                <i aria-hidden="true" class="v-icon notranslate primary--text material-icons theme--light">edit</i>
              </span>
            </button>
            <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"  @click="confirmDelete(item.id)">
              <span class="v-btn__content">
                <i aria-hidden="true" class="v-icon notranslate error--text material-icons theme--light">close</i>
              </span>
            </button>
          </td>
        </tr>
      </template>
    </v-data-table>

  </div>
</template>

<script>
  import Dropzone from "vue2-dropzone";

  export default {
    props: ['data'],

    components: {
      Dropzone
    },

    data() {
      const $vm = this;

      return {
        url: window.baseUrl,

        action: null,

        formValid: false,
        rules: {
          required: [value => !!value || "Campo obrigatório."]
        },

        positions: [{
          value: 'left',
          text: 'Esquerda'
        },
        {
          value: 'center',
          text: 'Centro'
        },
        {
          value: 'right',
          text: 'Direita'
        }],

        modal: false,

        removeServer: true,
        dropzone: {
          url: "/dashboard/pages/homepage/uploadFileSlider",
          dictDefaultMessage: "Arraste ou selecione os ficheiros.",
          maxFilesize: 10,
          maxFiles: 1,
          addRemoveLinks: true,
          acceptedFiles: ".jpg,.jpeg,.png",
          headers: { 
            "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content,
          },
          //Quando faz upload com sucesso
          success: function(file, response){
            $vm.form.file = response;
            file.upload.name = response;
          },
          //Quando se clica em 'Remover'
          removedfile: function(file) {
            if ( $vm.removeServer != false ) {
              $vm.removeFile(file.upload.name, 'homepage');
            }
            file.previewElement.remove();
          },
          //Quando excede o nº ficheiros
          maxfilesexceeded: function(file) {
            file.previewElement.remove();
          },
          //Quando falha o tipo de ficheiro .PDF || ou Erro
          error: function(file) {
            if ( file.status == "error" ) {
              file.previewElement.remove();
            }
          },
        },

        headers: [
        { text: "Imagem" },
        { text: "Ordem" },
        { text: "Opções" }
        ],

        items: [],

        form: {
          file: null,
          ordem: null,
          url: {}
        },

        errors: [],

        selectedToDelete: null
      };
    },


    mounted() { 
      this.items = ( this.data ) ? this.data : [];
    },

    methods: {
      openForm(action, item, id) {
        this.action = action;
        this.modal = true;
        this.form = item ? item : { file: null, ordem: null, url: {} };
      },
      removeFile(file, disk) {
        axios.post("/dashboard/pages/homepage/removeFileSlider", { file: file, disk: disk }).then((response) => {
          this.$refs.flash.handler(true, 'success', 'Eliminado!');
        }).catch((error) => {
          console.log(error);
        });
      },
      save() {
        this.$refs.myForm.validate();

        let url = ( this.action == 'store' ) ? this.action : this.action + '/' + this.form.id;

        axios.post('/dashboard/pages/homepage/hero/' + url, this.form ).then((response) => {
          this.close(false);
          this.$refs.flash.handler(true, 'success', 'Inserido com sucesso!');
        }).catch((error) => {
          if ( error.response.status == 422 ) {
            this.$refs.flash.handler(true, 'error', 'Campos em falta!');
            this.errors = [];
            Object.keys(error.response.data.errors).map((key) => {
              this.errors.push(key);
            });
          }
        });
      },
      close(remove) {
        this.modal = false;
        this.form = {
          file: null,
          ordem: null,
          url: {}
        };
        this.removeServer = remove;
        this.$refs.myDopzone.removeAllFiles(true);
        this.errors = [];
        this.$emit('updated');
      },
      confirmDelete(value) {
        this.$refs.delete.open = true;
        this.selectedToDelete = value;
      },
      deleteFunction() {
        axios.delete("/dashboard/pages/homepage/removeSlider/" + this.selectedToDelete).then((response) => {
          this.$refs.delete.open = false;
          this.$refs.flash.handler(true, 'success', 'Eliminado com sucesso!');
          this.$emit('updated');
        }).catch((error) => {
          console.log(error);
        });
      },
    },
    watch: {
      data: {
        handler() {
          this.items = ( this.data ) ? this.data : [];
        },
        deep: true,
      }
    },
  };
</script>