<template>
  <div v-if="loader == false">
    <Flash ref="flash"></Flash>

    <div class="col-sm-12">
      <h2>Texto</h2>

      <v-text-field v-for="item in this.$store.getters.languages" :label="'Texto ' + item.name " v-model="form[item.locale]" :key="'item' + item.locale"></v-text-field>

      <v-btn color="success" @click.stop="save()">Guardar</v-btn>
    </div>
    
  </div>
</div>
</template>

<script>

  export default {
    props: ['data'],

    data() {
      return {
        loader: true,
        tab: 1,
        form: this.data ? this.data : {}
      };
    },

    mounted() { 
      this.loader = false;
    },

    methods: {
      save() {
        console.log(this.form);
        axios.put("/dashboard/pages/homepage/text/update", this.form ).then((response) => {
          this.$refs.flash.handler(true, 'success', 'Inserido com sucesso!');
          this.$emit('updated');
        }).catch((error) => {
          console.log(error);
        });
      }
    }
  };
</script>