<template>
  <div>
    <Flash ref="flash"></Flash>
    <Delete ref="delete" @onConfirm="deleteFunction"></Delete>

    <!-- Modal -->
    <v-dialog v-model="modal" max-width="700px">
      <v-form v-model="formValid" ref="myForm">
        <v-card>
          <v-card-title>Adicionar Slider Vídeo</v-card-title>

          <v-tabs class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <v-tab @click="tab = 1">Textos</v-tab>
            <v-tab @click="tab = 2">Ordem</v-tab>
            <v-tab @click="tab = 3">Designer</v-tab>
            <v-tab @click="tab = 4">Media</v-tab>
            <!-- <v-tab @click="tab = 5">Url</v-tab> -->
          </v-tabs>

          <div class="col-sm-12" v-show="tab == 1">
            <app-card class="pb-6" v-for="item in this.$store.getters.languages" :key="'item' + item.locale">
              <label>{{ item.name }}</label>
              <v-text-field  :label="'Título ' + item.name " v-model="form.title[item.locale]"></v-text-field>
              <v-text-field  :label="'Legenda ' + item.name " v-model="form.subtitle[item.locale]"></v-text-field>
            </app-card>
          </div>

          <div class="col-sm-12" v-show="tab == 2">
            <v-text-field label="Ordem*" v-model="form.ordem" :rules="rules.required"></v-text-field>
          </div>

          <div class="col-sm-12" v-show="tab == 3">
            <v-select :items="manufacturers" item-text="name" item-id="id" v-model="form.manufacturer" label="Designer*" class="pa-0" :rules="rules.required"></v-select>
          </div>

          <div class="col-sm-12" v-show="tab == 4">
            <v-checkbox color="primary" label="Upload" v-model="form.checkbox"></v-checkbox>

            <dropzone class="mb-2" id="myDopzone" ref="myDopzone" :options="dropzone" v-model="form.file" v-bind:class="{ 'error-input' : errors.includes('file') }"></dropzone>

            <dropzone v-if="form.checkbox" class="mb-2" id="myDropzone2" ref="myDropzone" :options="dropzone2" v-model="form.file" v-bind:class="{ 'error-input' : errors.includes('file') }"></dropzone>

            <v-text-field v-if="!form.checkbox" label="Url*" v-model="form.url"></v-text-field>
          </div>

          <v-card-actions>
            <v-btn color="success" @click.stop="save()">Guardar</v-btn>
            <v-btn color="error" @click.stop="close(true)">Fechar</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <div class="col-sm-12">
      <div class="row">
        <h2 class="mb-6 col-sm-6">Slider Vídeo</h2>

        <div class="col-sm-6">
          <v-btn class="ma-2" color="primary" @click.prevent="openForm('store', null, null)">Adicionar</v-btn>
        </div>
      </div>
    </div>

    <v-data-table :headers="headers" :items="items" :hide-default-footer="true">
      <template v-slot:item="{ item }">
        <tr>
          <td>
            <img :src="url + '/images/homepage/' + item.image" width="180px;">
          </td>
          <td>{{ item.title.pt }}</td>
          <td>{{ item.subtitle.pt }}</td>
          <td>{{ item.manufacturer }}</td>
          <td>{{ item.ordem }}</td>
          <td>{{ item.url }}</td>
          <td>
            <button type="button" @click.prevent="openForm('update', item, item.id)" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default">
              <span class="v-btn__content">
                <i aria-hidden="true" class="v-icon notranslate primary--text material-icons theme--light">edit</i>
              </span>
            </button>
            <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"  @click="confirmDelete(item.id)">
              <span class="v-btn__content">
                <i aria-hidden="true" class="v-icon notranslate error--text material-icons theme--light">close</i>
              </span>
            </button>
          </td>
        </tr>
      </template>
    </v-data-table>

  </div>
</template>

<script>
  import Dropzone from "vue2-dropzone";

  export default {
    props: ['data', 'manufacturers'],

    components: {
      Dropzone
    },

    data() {
      const $vm = this;

      return {
        url: window.baseUrl,

        action: null,

        modal: false,

        tab: 1,

        removeServer: true,

        dropzone: {
          url: "/dashboard/pages/homepage/uploadFileSlider",
          dictDefaultMessage: "Imagem (pré visualização)*.",
          maxFilesize: 30,
          maxFiles: 1,
          addRemoveLinks: true,
          acceptedFiles: ".jpg, .png",
          headers: { "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content },
          success: function(file, response){
            $vm.form.image = response;
            file.upload.name = response;
          },
          removedfile: function(file) {
            if ( $vm.removeServer != false ) {
              $vm.removeFile(file.upload.name, 'homepage');
            }
            file.previewElement.remove();
          },
          maxfilesexceeded: function(file) {
            file.previewElement.remove();
          },
          error: function(file) {
            if ( file.status == "error" ) {
              file.previewElement.remove();
            }
          },
        },

        dropzone2: {
          url: "/dashboard/pages/homepage/uploadFileSlider",
          dictDefaultMessage: "Vídeo.",
          maxFilesize: 30,
          maxFiles: 1,
          addRemoveLinks: true,
          acceptedFiles: ".mp4, .avi",
          headers: { "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content },
          success: function(file, response){
            $vm.form.file = response;
            file.upload.name = response;
          },
          removedfile: function(file) {
            if ( $vm.removeServer != false ) {
              $vm.removeFile(file.upload.name, 'homepage');
            }
            file.previewElement.remove();
          },
          maxfilesexceeded: function(file) {
            file.previewElement.remove();
          },
          error: function(file) {
            if ( file.status == "error" ) {
              file.previewElement.remove();
            }
          },
        },

        headers: [
        { text: "Vídeo" },
        { text: "Título" },
        { text: "Legenda" },
        { text: "Designer" },
        { text: "Ordem" },
        { text: "Url" },
        { text: "Opções" }
        ],

        preview: {},

        items: [],

        form: {
          checkbox: false,
          title: {
            pt: null,
            en: null,
            fr: null,
            es: null,
            de: null,
          },
          subtitle: {
            pt: null,
            en: null,
            fr: null,
            es: null,
            de: null,
          },
          file: null,
          ordem: null,
          url: null
        },

        selectedToDelete: null,

        formData: new FormData(),
        formValid: false,
        rules: {
          required: [value => !!value || "Campo obrigatório."]
        },
        errors: [],
      };
    },

    mounted() { 
      this.items = ( this.data ) ? this.data : [];
    },

    methods: {
      openForm(action, item, id) {
        this.action = action;
        this.modal = true;
        this.form = item ? item : { title: {}, subtitle: {}, file: null, ordem: null, url: null };
      },
      removeFile(file, disk) {
        axios.post("/dashboard/pages/homepage/removeFileSlider", { file: file, disk: disk }).then((response) => {
          this.$refs.flash.handler(true, 'success', 'Eliminado!');
        }).catch((error) => {
          console.log(error);
        });
      },
      save() {
        this.$refs.myForm.validate();

        let url = ( this.action == 'store' ) ? this.action : this.action + '/' + this.form.id;

        axios.post("/dashboard/pages/homepage/sliderVideo/" + url, this.form ).then((response) => {
          this.close(false);
          this.$refs.flash.handler(true, 'success', 'Inserido com sucesso!');
        }).catch((error) => {
          if ( error.response.status == 422 ) {
            this.$refs.flash.handler(true, 'error', 'Campos em falta!');
            this.errors = [];
            Object.keys(error.response.data.errors).map((key) => {
              this.errors.push(key);
            });
          }
        });
      },
      close(remove) {
        this.modal = false;
        this.form = {
          checkbox: false,
          title: {
            pt: null,
            en: null,
            fr: null,
            es: null,
            de: null,
          },
          subtitle: {
            pt: null,
            en: null,
            fr: null,
            es: null,
            de: null,
          },
          file: null,
          ordem: null,
          url: null
        };
        this.removeServer = remove;
        this.$refs.myDropzone.removeAllFiles(true);
        this.$emit('updated');
      },
      confirmDelete(value) {
        this.$refs.delete.open = true;
        this.selectedToDelete = value;
      },
      deleteFunction() {
        axios.delete("/dashboard/pages/homepage/removeSliderVideo/" + this.selectedToDelete).then((response) => {
          this.$refs.delete.open = false;
          this.$refs.flash.handler(true, 'success', 'Eliminado com sucesso!');
          this.$emit('updated');
        }).catch((error) => {
          console.log(error);
        });
      },
    },
    watch: {
      data: {
        handler() {
          this.items = ( this.data ) ? this.data : [];
        },
        deep: true,
      }
    },
  };
</script>