<template>
	<div v-if="loader == false">
		<Flash ref="flash"></Flash>
		
		<app-card class="col-sm-12">
			<h3>{{ message }}</h3>
		</app-card>


		<v-form ref="form">

			<app-card class="col-sm-12">
				<v-text-field label="Nome" v-model="form.id"></v-text-field>
			</app-card>

			<app-card class="col-sm-12">
				<v-text-field v-for="item in this.$store.getters.languages" :label="item.name" v-model="form.value[item.locale]" :key="'item' + item.locale" class="pb-3"></v-text-field>
			</app-card>

			<app-card class="col-sm-12">
				<div class="col-sm-12 pl-0 ml-0 pt-3">
					<v-btn color="success" @click.stop="save()">Guardar</v-btn>
				</div>
			</app-card>
		</v-form>

	</div>

	<div v-else>
		<Progress></Progress>
	</div>
</template>

<script>

	export default {
		props: ['id'],

		components: { },

		data() {
			return {
				url: window.baseUrl,
				loader: true,

				tab: 1,

				action: null,
				route: null,

				rules: {
					required: [value => !!value || "Campo obrigatório."]
				},
				
				form: {
					value: {}
				},

				errors: [],
			};
		},

		mounted() {
			if ( this.id ) {
				this.action = 'update';
				this.route = "/dashboard/translate/update/" + this.id;

				this.get();
			}
			else {
				this.message = 'Adicionar';
				this.action = 'store';
				this.route =  "store";

				this.loader = false;	
			}
		},

		methods: {
			get() {
				axios.get('/dashboard/translate/fetch/'+this.id).then(response => {
					this.form = response.data;
					console.log(this.form);
					this.message = 'Alterar "' + this.form.value['pt'] + '"';
					this.loader = false;
				}).catch(errors => {
					console.log(errors);
				});
			},
			save() {
				this.$refs.form.validate();

				axios.post(this.route, this.form).then(response => {
					this.loader = false;
					this.$refs.flash.handler(true, 'success', 'Guardado com sucesso!');

					setTimeout(() => window.location.href = "/dashboard/translate", 1500);
				}).catch(error => {
					if ( error.response.status == 422 ) {
						this.$refs.flash.handler(true, 'error', 'Campos em falta!');
						this.errors = [];
						Object.keys(error.response.data.errors).map((key) => {
							this.errors.push(key);
						});
					}
				});
				
			}
		}
	};
</script>