<template>
  <div>

    <v-dialog v-model="open" max-width="500px">
      <v-card>
        <v-card-title>Nova Sub Categopria</v-card-title>

        <v-card-text>
          <label>Nome PT</label>
          <v-text-field v-model="form.name.pt" required></v-text-field>

          <label>Nome EN</label>
          <v-text-field v-model="form.name.en" required></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-btn color="success" @click.stop="save()">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <FlashMessage ref="flash"></FlashMessage>

  </div>
</template>

<script>
  import axios from "axios";
  import FlashMessage from '../../components/FlashMessage';

  export default {
    components: {
      FlashMessage
    },

    data() {
      return {
        open: false,
        form: {
          id_events: null,
          name: {}
        },
      }
    },

    mounted() {
    },

    methods: {
      save() {

        axios.post("/api/events/createSubCategoriaEvent", this.form).then((response) => {
          this.$refs.flash.open = true;
          this.$refs.flash.status = "success";
          this.$emit('updated');

          setTimeout(() => {
            this.$refs.flash.open = false;
          }, 1200);

          this.open = false;
        })
        .catch((error) => {
          if (error.response.status == 422) {
            this.$refs.flash.open = true;
            this.$refs.flash.status = "error";

            setTimeout(() => {
              this.$refs.flash.open = false;
            }, 1200);
            return;
          }
        });

      }
    }
  }
</script>