<template>
	<v-dialog v-model="open" max-width="500">
		<v-card class="pa-8">
			<v-card-title class="headline px-0 pt-0"><i class="zmdi zmdi-alert-octagon" style="font-size: 62px;margin: 0 auto !important;"></i></v-card-title>
			<v-card-text class="px-0 pt-0" style="font-size: 16px !important; color: #212121 !important; text-align: center;">{{message}}</v-card-text>
			<v-card-actions class="pa-0" style="justify-content: center !important;">
				<v-btn color="primary" @click="open = false">Fechar</v-btn>
				<v-btn color="success" @click="onConfirm()">Confirmar</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
  import axios from "axios";

  export default {
    props: [],
    data() {
      return {
        open: false,
        message: "Tem a certeza que deseja remover?",
        toDelete: null,
      };
    },

    mounted() {
      
    },

    methods: {
      openDialog() {
        this.open = true;
      },
      close() {
        this.open = false;
      },
      onConfirm() {
        axios.get("/api/events/subcategoria/delete/" + this.toDelete).then((response) => {
          this.open = false;
          this.$emit('updated');
        }).catch((error) => {
          console.log(error);
        });
      }
    }
  };
</script>

