<template>
  <div>
    <v-dialog v-model="open" max-width="500px">
      <v-card>
        <app-section-loader :status="loader"></app-section-loader>

        <v-card-title>Editar Categoria</v-card-title>

        <v-card-text>
          <label>Nome PT</label>
          <v-text-field v-model="form.name.pt" required></v-text-field>

          <label>Nome EN</label>
          <v-text-field v-model="form.name.en" required></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-btn color="success" @click.stop="save()">Guardar</v-btn>
          <v-btn color="secondary" @click.stop="open = false">Fechar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <FlashMessage ref="flash"></FlashMessage>
  </div>
</template>

<script>
  import axios from "axios";
  import FlashMessage from '../../components/FlashMessage';

  export default {
    components: {
      FlashMessage
    },

    data() {
      return {
        loader: true,
        open: false,
        props: {},
        form: {
          id: null,
          name: {}
        },
      }
    },

    mounted() {},

    methods: {
      get() {
        axios.get("/api/events/get/categoria/"+this.props.id).then((response) => {
          this.form = response.data;
          this.loader = false;
          console.log(this.form);
        }).catch((error) => {
          console.log(error)
        });
      },
      save() {
        axios.put("/api/events/categoria/update/"+this.form.id, this.form).then((response) => {
          this.$refs.flash.open = true;
          this.$refs.flash.status = "success";
          this.$emit('updated');

          setTimeout(() => {
            this.$refs.flash.open = false;
          }, 1200);

          this.open = false;
        })
        .catch((error) => {
          if (error.response.status == 422) {
            this.$refs.flash.open = true;
            this.$refs.flash.status = "error";

            setTimeout(() => {
              this.$refs.flash.open = false;
            }, 1200);
            return;
          }
        });
      }
    }
  }
</script>