<template>
  <div>
    <!-- ERROS -->
    <v-dialog v-model="errorShow" max-width="500">
      <v-card>
        <v-card-title class="headline">ALERTA</v-card-title>
        <v-card-text v-for="erros in errors" v-bind:key="erros" style="padding: 4px 22px !important" ><i class="ti-arrow-circle-right"></i> {{ erros }}</v-card-text>
        <v-card-actions>
          <v-btn color="success" text="text" @click="closeValidate">Continuar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <form v-if="formElement" @submit.prevent="submit">
      <v-form v-model="form.valid" ref="form" lazy-validation>
        <v-breadcrumbs class="pa-6 pr-4">
          <template>
            <h2 class="mr-12 float-left">Novo Artigo</h2>
            <v-btn color="success" class="ml-1 float-right" @click="submit">INSERIR</v-btn>
            <router-link :to="{ name: 'listNews' }">
              <v-btn color="primary" class="ml-1 float-right">Voltar atrás</v-btn>
            </router-link>
          </template>
        </v-breadcrumbs>

        <v-container fluid class="pt-0 grid-list-xl">
          <app-card>
            <v-tabs>
              <v-tab @click="openTab = 'start'">Conteúdo</v-tab>
              <v-tab @click="openTab = 'cabecalho'">Cabeçalho</v-tab>
              <v-tab @click="openTab = 'geral'">Geral</v-tab>
              <v-tab @click="openTab = 'seo'">SEO</v-tab>
              <v-tab @click="openTab = 'relacionados'">Relacionados</v-tab>
            </v-tabs>
          </app-card>

          <!-- CONTEÚDO -->
          <template v-if="this.openTab == 'start'">
            <app-card class="marginTop">
              <p class="subtitle" for="category_id">Categoria</p>
              <v-select :items="categories" item-text="title" item-value="id" v-model="form.category_id.value" @input="changeCategory" return-object></v-select>
              <v-select hide-details v-if="this.showColors > 0" :items="bgColors" item-text="title" item-value="value" v-model="form.bgColor.value" label="Cor de Fundo" class="mb-7" ></v-select>
            </app-card>

            <app-card class="marginTop">
              <v-tabs class="mb-6">
                <v-tab @click="openSubTab = 'pt'">PORTUGUÊS</v-tab>
                <v-tab @click="openSubTab = 'en'">INGLÊS</v-tab>
              </v-tabs>

              <div v-if="this.openSubTab == 'pt'">

                <p class="subtitle">Titulo PT</p>
                <v-text-field label="" v-model="form.titlePT.value" @change="generateURL" required ></v-text-field>

                <p class="subtitle">Lead PT</p>
                <v-text-field label="" v-model="form.leadPT.value" required ></v-text-field>

                <p class="subtitle">Destaque PT</p>
                <v-text-field label="" v-model="form.destaquePT.value" class="mb-7" required ></v-text-field>

                <p class="subtitle">Texto PT</p>
                <quill-editor v-model="form.conteudoPT.value" ref="myQuillEditor" ></quill-editor>
              </div>

              <div v-else-if="this.openSubTab == 'en'">
                <p class="subtitle">Titulo EN</p>
                <v-text-field label="" v-model="form.titleEN.value" required ></v-text-field>

                <p class="subtitle">Lead EN</p>
                <v-text-field
                label=""
                v-model="form.leadEN.value"
                required
                ></v-text-field>

                <p class="subtitle">Destaque EN</p>
                <v-text-field
                label=""
                v-model="form.destaqueEN.value"
                class="mb-7"
                required
                ></v-text-field>

                <p class="subtitle">Texto EN</p>
                <quill-editor
                v-model="form.conteudoEN.value"
                ref="myQuillEditor"
                ></quill-editor>
              </div>
            </app-card>

            <app-card class="marginTop">
              <p class="subtitle">URL</p>
              <v-text-field
              label=""
              v-model="form.content_url"
              class="mb-2"
              required
              ></v-text-field>
            </app-card>
          </template>
          <!-- /CONTEÚDO -->


          <!-- CABEÇALHO -->
          <template v-else-if="this.openTab == 'cabecalho'">

            <!--
            <app-card class="marginTop">
              <label style="width: 100%; float: left"
                >Definir apresentação</label
              >

              <div
                class="box1"
                @click="changeHeaderType('imagem')"
                :class="{ activeCurrent: form.header_type.value == 'imagem' }"
              >
                <label>Imagem</label>
                <i class="ti-image"></i>
              </div>

              
              <div
                class="box1"
                @click="changeHeaderType('galeria')"
                :class="{ activeCurrent: form.header_type.value == 'galeria' }"
              >
                <label>Galeria</label>
                <i class="ti-gallery"></i>
              </div>

              <div
                class="box1"
                @click="changeHeaderType('video')"
                :class="{ activeCurrent: form.header_type.value == 'video' }"
              >
                <label>Vídeo</label>
                <i class="ti-video-camera"></i>
              </div>

              <div
                class="box1"
                @click="changeHeaderType('no_img')"
                :class="{ activeCurrent: form.header_type.value == 'no_img' }"
              >
                <label>Sem Imagem</label>
                <i class="ti-text"></i>
              </div> 
            </app-card>-->


            <!-- IMAGEM -->
            <app-card
            v-if="form.header_type.value == 'imagem'"
            v-model="form.header_type.value"
            class="marginTop"
            >
            <label>Imagem</label>

            <p class="subtitle">Texto Alternativo</p>
            <v-text-field label="" v-model="form.img_alt_text"></v-text-field>

            <p class="subtitle">Legenda</p>
            <v-text-field label="" v-model="form.img_subtitle"></v-text-field>

            <p class="subtitle">Escolher Imagem</p>
            <v-file-input
            accept="image/png, image/jpeg, image/bmp"
            v-model="form.img_header"
            prepend-icon=""
            show-size
            ></v-file-input>
          </app-card>

            <!-- GALERIA 
						<app-card v-else-if="form.header_type.value == 'galeria'" v-model="form.header_type.value"  class="marginTop">
							<label>Galeria</label>

							<p class="subtitle">Texto Alternativo</p>
							<v-text-field label="" v-model="form.galeria_alt_text"></v-text-field>

							<p class="subtitle">Legenda</p>
							<v-text-field label="" v-model="form.galeria_legenda"></v-text-field>

							<dropzone id="myVueDropzone" ref="dropzone" v-model="form.galeria_imgs" :options="dropzoneOptions" v-on:vdropzone-success=""></dropzone>
						</app-card> -->

            <!-- VÍDEO 
						<app-card v-else-if="form.header_type.value == 'video'" v-model="form.header_type.value"  class="marginTop">
							<label>Vídeo</label>

							<p class="subtitle">Vídeo Externo?</p>
							<v-switch label="" color="primary" v-model="form.video_externo" :input-value="form.video_externo" @change="!form.video_externo" hide-details></v-switch>

							<div v-if="form.video_externo == true">
								<p class="subtitle">Ligação</p>
								<v-text-field label="" v-model="form.video_link"></v-text-field>
							</div>

							<div v-else-if="form.video_externo == false">
								<p class="subtitle" >Upload ficheiro</p>
								<v-file-input label="" prepend-icon="" v-model="form.video_file"></v-file-input>
							</div>

							<p class="subtitle">Imagem</p>
							<v-file-input accept="image/png, image/jpeg, image/jpg" placeholder="" prepend-icon="" v-model="form.video_img" show-size></v-file-input>
						</app-card> -->

            <!-- SEM IMAGEM  -->
            <app-card
            v-else-if="form.header_type == 'no_img'"
            class="marginTop"
            >
            <label>SEM IMAGEM</label>

            <p class="subtitle">Notícia de última hora</p>
            <v-switch
            label=""
            color="primary"
            :input-value="lastHour"
            :value="false"
            :sync="false"
            @change="funcLastHour"
            hide-details
            ></v-switch>
          </app-card>
        </template>
        <!-- /CABEÇALHO -->

        <!-- GERAL -->
        <template v-else-if="this.openTab == 'geral'">
          <app-card class="marginTop">
            <p class="subtitle">Slider</p>
            <v-switch
            label=""
            color="primary"
            :input-value="form.is_slide"
            :value="form.is_slide"
            v-model="form.is_slide"
            @change="!form.is_slide"
            hide-details
            ></v-switch>

            <p class="subtitle">Destaque</p>
            <v-switch
            label=""
            color="primary"
            :input-value="form.destaque"
            :value="form.destaque"
            v-model="form.destaque"
            @change="!form.destaque"
            hide-details
            ></v-switch>

            <p class="subtitle">Publicado</p>
            <v-switch
            label=""
            color="primary"
            :input-value="form.published"
            :value="form.published"
            v-model="form.published"
            @change="!form.published"
            hide-details
            ></v-switch>

              <!--
            <p class="subtitle">Data de publicação</p>
            <VueCtkDateTimePicker v-model="date" locale="pt" format="YYYY-MM-DD HH:mm" label="" />-->
          </app-card>

          <app-card class="marginTop">
            <p class="subtitle">Tags</p>
            <v-text-field label="" v-model="form.tags"></v-text-field>

              <!--
              <p class="subtitle">Tags Visíveis</p>
              <v-text-field
                label=""
                v-model="form.tags_visiveis"
                ></v-text-field>-->
              </app-card>
            </template>
            <!-- /GERAL -->

            <!-- SEO -->
            <template v-else-if="this.openTab == 'seo'">
              <app-card class="marginTop">
                <p class="subtitle">URL</p>
                <v-text-field
                label=""
                v-model="form.seo_url.value"
                :value="!this.form.seo_url.value"
                ></v-text-field>

                <p class="subtitle">Título</p>
                <v-text-field
                label=""
                v-model="form.seo_title.value"
                ></v-text-field>

                <p class="subtitle">Descrição</p>
                <v-text-field
                label=""
                v-model="form.seo_description.value"
                ></v-text-field>

                <p class="subtitle">Palavras-chave</p>
                <v-text-field
                label=""
                v-model="form.seo_keys.value"
                ></v-text-field>

                <p class="subtitle">Escolher Imagem Redes Sociais</p>
                <v-file-input
                accept="image/png, image/jpeg, image/jpg"
                placeholder=""
                prepend-icon=""
                v-model="form.seo_img.value"
                show-size
                ></v-file-input>
              </app-card>
            </template>
            <!-- /SEO -->

            <!-- SEO -->
            <template v-else-if="this.openTab == 'relacionados'">
              <app-card class="marginTop">
                <p class="subtitle">Pesquisar</p>
                <v-text-field
                label=""
                autocomplete="off"
                @keyup="searchRelateds($event.target.value)"
                ></v-text-field>

                <div v-if="this.resultRelateds.length > 0">
                  <v-checkbox
                  v-for="related in resultRelateds"
                  :key="related.id"
                  :label="related.title"
                  :value="related.id"
                  v-model="selectedRelateds"
                  @change="markRelated"
                  ></v-checkbox>
                </div>
              </app-card>

              <app-card class="marginTop">
                <p class="subtitle">Artigos Relacionados</p>
                <v-checkbox
                v-for="item in showRelateds"
                :key="item.id"
                :label="item.title"
                :value="item.id"
                v-model="selectedRelateds"
                @change="markRelated"
                ></v-checkbox>
              </app-card>
            </template>
            <!-- /SEO -->
          </v-container>
        </v-form>
      </form>
    </div>
  </template>

  <script>
    import axios from "axios";
    import Dropzone from "vue2-dropzone";

    export default {
      components: {
        Dropzone,
      },

      data() {
        const vm = this;

        return {
          openTab: "start",
          openSubTab: "pt",
          form: {},
          formElement: true,
          conteudo: "",

          bgColors: [
          {
            title: "Blue",
            value: "blue",
          },
          {
            title: "Light Blue",
            value: "light-blue",
          },
          {
            title: "Dark Blue",
            value: "dark-blue",
          },
          ],
          showColors: 0,

          errors: [],
          errorShow: false,

          resultRelateds: [],
          selectedRelateds: [],
          showRelateds: [],

          categories: [],

          //lastHour: false,

          url: window.location.protocol + "//" + window.location.hostname,

          tmpGaleria: [],
          //date: '',
          //dateFormatted: null,

          dropzoneOptions: {
            renameFile: function (file) {
              var dt = new Date();
              var time = dt.getTime();
              var imgName = time + file.name;

              return imgName;
            },
            url: "/api/news/tmpGaleria",

            //autoProcessQueue: false,
            preventDuplicates: true,
            thumbnailWidth: 150,
            maxFiles: 6,
            maxFilesize: 3,
            uploadprogress: false,
            //addRemoveLinks: true,
            //dictRemoveFile: "Eliminar",
            dictDefaultMessage: "Arraste ou selecione os ficheiros.",
            headers: {
              "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content,
            },
            init: function () {
              console.log(vm.tmpGaleria);

              var myDropzone = this;

              $.each(vm.tmpGaleria, function (key, value) {
                var mockFile = {
                  name: value,
                  size: "",
                };

                mockFile.status = Dropzone.SUCCESS;
                mockFile.accepted = true;
                myDropzone.emit("addedfile", mockFile);
                myDropzone.emit(
                  "thumbnail",
                  mockFile,
                  vm.url + "/images/news/tmp/" + mockFile.name
                  );

                $(myDropzone.element.lastChild)
                .find(".dz-details")
                .append(
                  "<span class='delBtn' data-file='" +
                  mockFile.name +
                  "'>Eliminar</span>"
                  );
                $(myDropzone.element.lastChild).attr("data-file", mockFile.name);

                myDropzone.emit("complete", mockFile);
                myDropzone.files.push(mockFile);
              });

              this.on("addedfile", function (file) {
                $(".dz-progress").hide();
                $(".dz-progress").css({ display: "none" });
              });

              this.on("error", function (file, message) {
                console.log("file remove " + file);
                this.removeFile(file);
              });

              this.on("success", function (file, responseText) {
                vm.tmpGaleria.push(responseText.success);

                $(file.previewElement).attr("data-file", responseText.success);
                $(file.previewElement)
                .find(".dz-details")
                .append(
                  "<span class='delBtn' data-file='" +
                  responseText.success +
                  "'>Eliminar</span>"
                  );
              });

              this.on("maxfilesreached", function (file, responseText) {
                alert("Número máximo de ficheiros atingido");
              });
            },
          },

          form: {
            valid: false,
            category_id: { title: "Categoria", value: null },
            titlePT: { title: "Titulo PT", value: null },
            leadPT: { title: "Lead PT", value: null },
            destaquePT: { title: "Destaque PT", value: null },
            conteudoPT: { title: "Conteudo PT", value: null },
            titleEN: { title: "Titulo EN", value: null },
            leadEN: { title: "Lead EN", value: null },
            destaqueEN: { title: "Destaque EN", value: null },
            conteudoEN: { title: "Conteudo EN", value: null },
            header_type: { title: "Cabeçalho", value: 'imagem' },
            bgColor: { title: "Cor de Fundo", value: null },
            content_url: null,
            img_alt_text: null,
            img_subtitle: null,
            img_header: null,
            galeria_alt_text: null,
            galeria_legenda: null,
            galeria_imgs: null,
            video_externo: true,
            video_link: null,
            video_file: null,
            video_img: null,
            destaque: false,
            is_slide: null,
            published: true,
            tags: null,
            tags_visiveis: null,
            seo_url: { title: "SEO URL", value: null },
            seo_title: { title: "SEO Titulo", value: null },
            seo_description: { title: "SEO Descrição", value: null },
            seo_keys: { title: "SEO Palavras-chave", value: null },
            seo_img: { title: "SEO Imagem", value: null },
            relateds: null,
          },
        };
      },
      mounted: function () {
        let $vm = this;

        this.getCategories();

        $(document).on("click", ".delBtn", function () {
          let toRemove = $(this).attr("data-file");

          const index = $vm.tmpGaleria.indexOf(toRemove);
          if (index > -1) {
            $vm.tmpGaleria.splice(index, 1);
          }

          axios.get("/api/news/delTmpImg", {
            params: {
              image: toRemove,
            },
          })
          .then((response) => {
            $('div[data-file="' + toRemove + '"]').remove();

            $.each($vm.$refs.dropzone.dropzone.files, function (index, val) {
              if (this.previewElement.dataset.file == toRemove) {
                $vm.$refs.dropzone.dropzone.files.splice(index, 1);
              }
            });
          })
          .catch((error) => {
            console.log(error);
          });
        });
      },
      methods: {
        sanitizeTitle: function (title) {
          var slug = title.toLowerCase().replace(/ /g,'-').replace(/[-]+/g, '-').replace(/[^\w-]+/g,'').replace(/-+/g,'-');
          return slug;
        },
        generateURL(value) {
          let slug = this.sanitizeTitle(value);
          this.form.seo_url.value = slug;
        },
        changeHeaderType(value) {
          this.form.header_type.value = value;
        },
        changeCategory(value) {
          this.showColors = value.bgColor;
        },
        validateForm() {
          let $vm = this;
          
          let no_blank = [
          "category_id",
          "titlePT",
          "leadPT",
          "destaquePT",
          "titleEN",
          "leadEN",
          "destaqueEN",
          "header_type",
          "seo_url",
          "seo_title",
          "seo_description",
          "seo_keys",
          "seo_img",
          ];

          if (
            this.form.conteudoPT.value == "" ||
            this.form.conteudoPT.value == null
            ) {
            this.errors.push('Preencher campo "Conteúdo PT"');
        }

        if (
          this.form.conteudoEN.value == "" ||
          this.form.conteudoEN.value == null
          ) {
          this.errors.push('Preencher campo "Conteúdo EN"');
      }

      for (let i = 0; i < no_blank.length; i++) {
        if (!this.form[no_blank[i]].value) {
          this.errors.push(
            'Preencher campo "' + this.form[no_blank[i]].title + '".'
            );
        }
      }

      if (this.showColors > 0 && !this.form.bgColor.value) {
        this.errors.push('Preencher campo "Cor de Fundo"');
      }

      //IF CABEÇALHO == IMAGEM
      if (this.form.header_type.value == "imagem" && !this.form.img_header) {
        this.errors.push('Preencher campo "Imagem"');
      }

      //IF CABEÇALHO == GALERIA
      if (
        this.form.header_type.value == "galeria" &&
        this.tmpGaleria.length == 0
        ) {
        this.errors.push('Preencher campo "Galeria"');
    }

      //IF CABEÇALHO == VIDEO
      if (this.form.header_type.value == "video") {
        if (this.form.video_externo == false && !this.form.video_file) {
          this.errors.push('Preencher campo "Upload ficheiro"');
        }
        if (this.form.video_externo == true && !this.form.video_link) {
          this.errors.push('Preencher campo "Video Ligação"');
        }
        if (!this.form.video_img) {
          this.errors.push('Preencher campo "Video Imagem"');
        }
      }
    },
    closeValidate() {
      this.errors = [];
      this.errorShow = false;
    },
    getCategories() {
      axios.get("/getCategories").then((response) => {
        this.categories = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
    },
    /*
    funcLastHour() {
      this.lastHour = !this.lastHour;
    },
    formatDate(date) {
      if (!date) {
      return null;
    }
    parseDate(date) {
      if (!date) {
        return null;
      }
      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },*/
    searchRelateds(value) {
      axios.get("/api/news/getRelateds/" + value).then((response) => {
        $.each(response.data.relateds, function (key, value) {
          value.title =  JSON.parse(value.title)['pt'];
        });

        this.resultRelateds = response.data.relateds;
      })
      .catch((error) => {
        console.log(error);
      });
    },
    markRelated(value) {
      let $vm = this;
      let list = [];

      $.each(this.selectedRelateds, function (key, value) {
        axios.get("/api/news/getSingleNews/" + value).then((response) => {
          let $title = JSON.parse(response.data.news.title);
          list.push({ id: response.data.news.id, title: $title.pt });
        })
        .catch((error) => {
          console.log(error);
        });
      });

      this.showRelateds = list;
    },
    submit() {
      let $vm = this;

      this.validateForm();

      if (this.errors.length > 0) {
        this.errorShow = true;
      } 
      else {
        let $vm = this;

        var rawData = JSON.stringify(this.form);
        var galeria = JSON.stringify(this.tmpGaleria);

        const formData = new FormData();

        formData.append("data", rawData);
        formData.append("img_header", this.form.img_header);
        formData.append("galeria_imgs", galeria);
        formData.append("video_file", this.form.video_file);
        formData.append("video_img", this.form.video_img);
        formData.append("seo_img", this.form.seo_img.value);
        formData.append("relateds", $vm.selectedRelateds);

        axios.post("/api/news/store", formData).then(
          function (result) {
            $vm.$router.push({ path: "/dashboard/homepage/news" });
          },
          function (error) {
            console.log(error);
          }
          );
      }
    },
  },
};
</script>