<template>
  <div>
    <!-- ERROS -->
    <v-dialog v-model="errorShow" max-width="500">
      <v-card>
        <v-card-title class="headline">ALERTA</v-card-title>
        <v-card-text v-for="erros in errors" v-bind:key="erros" style="padding: 4px 22px !important"><i class="ti-arrow-circle-right"></i> {{ erros }}</v-card-text>
        <v-card-actions>
          <v-btn color="success" text="text" @click="closeValidate">Continuar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <form v-if="formElement" @submit.prevent="submit">
      <v-form v-model="form.valid" ref="form" lazy-validation>
        <v-breadcrumbs class="pa-6 pr-4">
          <template>
            <h2 class="mr-12 float-left">Editar Artigo</h2>
            <v-btn color="success" class="ml-1 float-right" @click="submit">Editar</v-btn>
            <router-link :to="{ name: 'listNews' }">
              <v-btn color="primary" class="ml-1 float-right">Voltar atrás</v-btn>
            </router-link>
          </template>
        </v-breadcrumbs>

        <v-container fluid class="pt-0 grid-list-xl">
          <app-card>
            <v-tabs>
              <v-tab @click="openTab = 'start'">Conteúdo</v-tab>
              <v-tab @click="openTab = 'cabecalho'">Cabeçalho</v-tab>
              <v-tab @click="openTab = 'geral'">Geral</v-tab>
              <v-tab @click="openTab = 'seo'">SEO</v-tab>
              <v-tab @click="openTab = 'relacionados'">Relacionados</v-tab>
            </v-tabs>
          </app-card>

          <!-- CONTEÚDO -->
          <template v-if="this.openTab == 'start'">
            <app-card class="marginTop">
              <p class="subtitle" for="category_id">Categoria</p>
              <v-select
              :items="categories"
              item-text="title"
              item-value="id"
              v-model.number="form.category_id.value"
              ></v-select>
              <v-select
              hide-details
              v-if="this.showColors > 0"
              :items="bgColors"
              item-text="title"
              item-value="value"
              v-model="form.bgColor.value"
              label="Cor de Fundo"
              class="mb-7"
              ></v-select>
            </app-card>

            <app-card class="marginTop">
              <v-tabs class="mb-6">
                <v-tab @click="openSubTab = 'pt'">PORTUGUÊS</v-tab>
                <v-tab @click="openSubTab = 'en'">INGLÊS</v-tab>
              </v-tabs>

              <div v-if="this.openSubTab == 'pt'">
                <p class="subtitle">Titulo PT</p>
                <v-text-field
                label=""
                v-model="form.titlePT.value"
                @change="generateURL"
                required
                ></v-text-field>

                <p class="subtitle">Lead PT</p>
                <v-text-field
                label=""
                v-model="form.leadPT.value"
                required
                ></v-text-field>

                <p class="subtitle">Destaque PT</p>
                <v-text-field
                label=""
                v-model="form.destaquePT.value"
                class="mb-7"
                required
                ></v-text-field>

                <p class="subtitle">Texto PT</p>
                <quill-editor
                v-model="form.conteudoPT.value"
                ref="myQuillEditor"
                ></quill-editor>
              </div>

              <div v-else-if="this.openSubTab == 'en'">
                <p class="subtitle">Titulo EN</p>
                <v-text-field
                label=""
                v-model="form.titleEN.value"
                required
                ></v-text-field>

                <p class="subtitle">Lead EN</p>
                <v-text-field
                label=""
                v-model="form.leadEN.value"
                required
                ></v-text-field>

                <p class="subtitle">Destaque EN</p>
                <v-text-field
                label=""
                v-model="form.destaqueEN.value"
                class="mb-7"
                required
                ></v-text-field>

                <p class="subtitle">Texto EN</p>
                <quill-editor
                v-model="form.conteudoEN.value"
                ref="myQuillEditor"
                ></quill-editor>
              </div>
            </app-card>

            <app-card class="marginTop">
              <p class="subtitle">URL</p>
              <v-text-field
              label=""
              v-model="form.content_url"
              class="mb-2"
              required
              ></v-text-field>
            </app-card>
          </template>
          <!-- /CONTEÚDO -->

          <!-- CABEÇALHO -->
          <template v-else-if="this.openTab == 'cabecalho'">
            <!--
            <app-card class="marginTop">
              <label style="width: 100%; float: left"
                >Definir apresentação</label
              >

              <div
                class="box1"
                @click="changeHeaderType('imagem')"
                :class="{ activeCurrent: form.header_type.value == 'imagem' }"
              >
                <label>Imagem</label>
                <i class="ti-image"></i>
              </div>

              

              <div class="box1" @click="changeHeaderType('galeria')" :class="{activeCurrent:form.header_type.value == 'galeria'}">
                <label>Galeria</label>
                <i class="ti-gallery"></i>
              </div>

              <div class="box1" @click="changeHeaderType('video')" :class="{activeCurrent:form.header_type.value == 'video'}">
                <label>Vídeo</label>
                <i class="ti-video-camera"></i>
              </div> 

              <div
                class="box1"
                @click="changeHeaderType('no_img')"
                :class="{ activeCurrent: form.header_type.value == 'no_img' }"
              >
                <label>Sem Imagem</label>
                <i class="ti-text"></i>
              </div>
            </app-card>-->

            <!-- IMAGEM -->
            <app-card
            v-if="form.header_type.value == 'imagem'"
            v-model="form.header_type.value"
            class="marginTop"
            >
            <label>Imagem</label>

            <p class="subtitle">Texto Alternativo</p>
            <v-text-field label="" v-model="form.img_alt_text"></v-text-field>

            <p class="subtitle">Legenda</p>
            <v-text-field label="" v-model="form.img_subtitle"></v-text-field>

            <p class="subtitle">Escolher Nova Imagem</p>
            <v-file-input
            accept="image/png, image/jpeg, image/bmp"
            v-model="form.img_header"
            prepend-icon=""
            show-size
            ></v-file-input>

            <p class="subtitle">Imagem Atribuída</p>
            <img :src="this.saved_img_header" width="300px" />
          </app-card>

            <!-- GALERIA 
            <app-card v-else-if="form.header_type.value == 'galeria'" v-model="form.header_type.value"  class="marginTop">
              <label>Galeria</label>

              <p class="subtitle">Texto Alternativo</p>
              <v-text-field label="" v-model="form.galeria_alt_text"></v-text-field>

              <p class="subtitle">Legenda</p>
              <v-text-field label="" v-model="form.galeria_legenda"></v-text-field>

              <p>{{ countFiles }} Ficheiros restantes</p>
              <dropzone id="myVueDropzone" ref="dropzone" v-model="form.galeria_imgs" :options="dropzoneOptions" v-on:vdropzone-success=""></dropzone>

              <v-container fluid class="grid-list-xl pt-0 mt-n3">
                <v-row>
                  <v-col v-for="(item, index) in saved_img_gallery" class="mt-3" cols="12" md="4" :key="item">
                    <div class="app-card">
                      <div class="app-card-content">
                        <div class="blog-thumb mb-4">
                         <img :src="`${url}/images/news/${item}`" width="100%" />
                       </div>
                       <v-card-actions>
                        <v-btn class="px-4" color="error" @click="removeFromGallery(index)">Eliminar</v-btn>
                      </v-card-actions>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-container>

          </app-card> -->

            <!-- VÍDEO 
          <app-card v-else-if="form.header_type.value == 'video'" v-model="form.header_type.value"  class="marginTop">
            <label>Vídeo</label>

            <p class="subtitle">Vídeo Externo?</p>
            <v-switch label="" color="primary" v-model="form.video_externo" :input-value="form.video_externo" @change="!form.video_externo" hide-details></v-switch>

            <div v-if="form.video_externo == true">
              <p class="subtitle">Ligação</p>
              <v-text-field label="" v-model="form.video_link"></v-text-field>
            </div>

            <div v-else-if="form.video_externo == false">
              <p class="subtitle" >Upload ficheiro</p>
              <v-file-input label="" prepend-icon="" v-model="form.video_file"></v-file-input>

              <video v-if="this.saved_file_video" controls width="300px">
                <source :src="this.saved_file_video" type="video/mp4">
                </video>
              </div>

              <p class="subtitle">Imagem</p>
              <v-file-input accept="image/png, image/jpeg, image/jpg" placeholder="" prepend-icon="" v-model="form.video_img" show-size></v-file-input>

              <img :src="this.saved_video_img" width="300px">
            </app-card> -->
          </template>
          <!-- /CABEÇALHO -->

          <!-- GERAL -->
          <template v-else-if="this.openTab == 'geral'">
            <app-card class="marginTop">

              <p class="subtitle">Slider</p>
              <v-switch
              label=""
              color="primary"
              :input-value="form.is_slide"
              :value="form.is_slide"
              v-model="form.is_slide"
              @change="!form.is_slide"
              hide-details
              ></v-switch>

              <p class="subtitle">Destaque</p>
              <v-switch
              label=""
              color="primary"
              :input-value="form.destaque"
              :value="form.destaque"
              v-model="form.destaque"
              @change="!form.destaque"
              hide-details
              ></v-switch>

              <p class="subtitle">Publicado</p>
              <v-switch
              label=""
              color="primary"
              :input-value="form.published"
              :value="form.published"
              v-model="form.published"
              @change="!form.published"
              hide-details
              ></v-switch>
            </app-card>

            <app-card class="marginTop">
              <p class="subtitle">Tags</p>
              <v-text-field label="" v-model="form.tags"></v-text-field>

              <!--
              <p class="subtitle">Tags Visíveis</p>
              <v-text-field
                label=""
                v-model="form.tags_visiveis"
                ></v-text-field>-->
              </app-card>
            </template>
            <!-- /GERAL -->

            <!-- SEO -->
            <template v-else-if="this.openTab == 'seo'">
              <app-card class="marginTop">
                <p class="subtitle">URL</p>
                <v-text-field
                label=""
                v-model="form.seo_url.value"
                :value="!this.form.seo_url.value"
                ></v-text-field>

                <p class="subtitle">Título</p>
                <v-text-field
                label=""
                v-model="form.seo_title.value"
                ></v-text-field>

                <p class="subtitle">Descrição</p>
                <v-text-field
                label=""
                v-model="form.seo_description.value"
                ></v-text-field>

                <p class="subtitle">Palavras-chave</p>
                <v-text-field
                label=""
                v-model="form.seo_keys.value"
                ></v-text-field>

                <p class="subtitle">Nova Imagem Redes Sociais</p>
                <v-file-input
                accept="image/png, image/jpeg, image/jpg"
                placeholder=""
                prepend-icon=""
                v-model="form.seo_img.value"
                show-size
                ></v-file-input>

                <p class="subtitle">Imagem Atribuída</p>
                <img :src="this.seo_img_saved" width="300px" />
              </app-card>
            </template>
            <!-- /SEO -->

            <!-- SEO -->
            <template v-else-if="this.openTab == 'relacionados'">
              <app-card class="marginTop">
                <p class="subtitle">Pesquisar</p>
                <v-text-field
                label=""
                autocomplete="off"
                @keyup="searchRelateds($event.target.value)"
                ></v-text-field>

                <div v-if="this.resultRelateds.length > 0">
                  <v-checkbox
                  v-for="related in resultRelateds"
                  :key="related.id"
                  :label="related.title"
                  :value="related.id"
                  v-model="selectedRelateds"
                  @change="markRelated"
                  ></v-checkbox>
                </div>
              </app-card>

              <app-card class="marginTop">
                <p class="subtitle">Artigos Relacionados</p>
                <v-checkbox
                v-for="item in showRelateds"
                :key="item.id"
                :label="item.title"
                :value="item.id"
                v-model="selectedRelateds"
                @change="markRelated"
                ></v-checkbox>
              </app-card>
            </template>
            <!-- /SEO -->
          </v-container>
        </v-form>
      </form>
    </div>
  </template>

  <style scoped>
    .box1 {
      float: left;
      width: 100px;
      height: 75px;
      display: flex;
      align-content: center;
      align-items: center;
      margin-right: 10px;
      text-align: center;
      margin-top: 15px;
      border: 2px solid #ccc;
      border-radius: 6px;
      font-size: 12px;
      flex-flow: wrap;
      justify-content: center;
      cursor: pointer;
      margin-left: 3px;
      margin-bottom: 15px;
    }

    .box1 > label {
      width: 100%;
    }

    .box1 > i {
      cursor: pointer;
      margin-top: 6px;
      font-size: 20px;
    }

    .activeCurrent {
      background: #ecf2fe !important;
      border: 2px solid #5d92f4 !important;
    }

    .activeCurrent > i,
    .activeCurrent > label {
      color: #5d92f4 !important;
      cursor: pointer;
    }

    .marginTop {
      margin-top: 11px !important;
    }

    .subtitle {
      font-size: 12.5px;
      margin-top: 12px;
      color: #666;
    }
  </style>


  <script>
    import axios from "axios";
    import Dropzone from "vue2-dropzone";

    export default {
      components: {
        Dropzone,
      },

      props: ["id"],

      data() {
        const vm = this;

        return {
          url: window.baseUrl,
          newsID: null,
          getData: null,

          openTab: "start",
          openSubTab: "pt",
          form: {},
          formElement: true,
          conteudo: "",

          bgColors: [
          {
            title: "Blue",
            value: "blue",
          },
          {
            title: "Light Blue",
            value: "light-blue",
          },
          {
            title: "Dark Blue",
            value: "dark-blue",
          },
          ],
          showColors: 0,

          errors: [],
          errorShow: false,

          resultRelateds: [],
          selectedRelateds: [],
          showRelateds: [],

          categories: [],

          tmpGaleria: [],

          saved_img_header: null,
          seo_img_saved: null,
          saved_img_gallery: null,

          saved_video_img: null,
          saved_file_video: null,

          countFiles: 6,
          maxFilesDropzone: 6,

          dropzoneOptions: {
            renameFile: function (file) {
              var dt = new Date();
              var time = dt.getTime();
              var imgName = time + file.name;

              return imgName;
            },
            url: "/api/news/tmpGaleria",
            preventDuplicates: true,
            thumbnailWidth: 150,
            maxFilesize: 3,
            uploadprogress: false,
            dictDefaultMessage: "Arraste ou selecione os ficheiros.",
            headers: {
              "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]")
              .content,
            },
            init: function () {

              var myDropzone = this;
              myDropzone.options.maxFiles = vm.maxFilesDropzone;

              $.each(vm.tmpGaleria, function (key, value) {
                var mockFile = {
                  name: value,
                  size: "",
                };

                mockFile.status = Dropzone.SUCCESS;
                mockFile.accepted = true;
                myDropzone.emit("addedfile", mockFile);
                myDropzone.emit(
                  "thumbnail",
                  mockFile,
                  vm.url + "/uploads/news/tmp/" + mockFile.name
                  );

                $(myDropzone.element.lastChild)
                .find(".dz-details")
                .append(
                  "<span class='delBtn' data-file='" +
                  mockFile.name +
                  "'>Eliminar</span>"
                  );
                $(myDropzone.element.lastChild).attr("data-file", mockFile.name);

                myDropzone.emit("complete", mockFile);
                myDropzone.files.push(mockFile);
              });

              this.on("addedfile", function (file) {
                $(".dz-progress").hide();
                $(".dz-progress").css({ display: "none" });
              });

              this.on("error", function (file, message) {
                this.removeFile(file);
              });

              this.on("success", function (file, responseText) {
                vm.tmpGaleria.push(responseText.success);

                $(file.previewElement).attr("data-file", responseText.success);
                $(file.previewElement)
                .find(".dz-details")
                .append(
                  "<span class='delBtn' data-file='" +
                  responseText.success +
                  "'>Eliminar</span>"
                  );

                vm.countFiles--;
              });

              this.on("maxfilesreached", function (file, responseText) {
            //alert("Número máximo de ficheiros atingido");
          });
            },
          },

          form: {
            valid: false,
            update_id: vm.id,
            category_id: { title: "Categoria", value: null },
            titlePT: { title: "Titulo PT", value: null },
            leadPT: { title: "Lead PT", value: null },
            destaquePT: { title: "Destaque PT", value: null },
            conteudoPT: { title: "Conteudo PT", value: null },
            titleEN: { title: "Titulo EN", value: null },
            leadEN: { title: "Lead EN", value: null },
            destaqueEN: { title: "Destaque EN", value: null },
            conteudoEN: { title: "Conteudo EN", value: null },
            header_type: { title: "Cabeçalho", value: null },
            bgColor: { title: "Cor de Fundo", value: null },
            content_url: null,
            img_alt_text: null,
            img_subtitle: null,
            img_header: null,
            galeria_alt_text: null,
            galeria_legenda: null,
            galeria_imgs: null,
            video_externo: true,
            video_link: null,
            video_file: null,
            video_img: null,
            destaque: false,
            published: true,
            tags: null,
            tags_visiveis: null,
            seo_url: { title: "SEO URL", value: null },
            seo_title: { title: "SEO Titulo", value: null },
            seo_description: { title: "SEO Descrição", value: null },
            seo_keys: { title: "SEO Palavras-chave", value: null },
            seo_img: { title: "SEO Imagem", value: null },
            relateds: null,
          },
        };
      },
      mounted: function () {


    //ATRIBUI ID GERAL
    let $vm = this;
    this.newsID = $vm.id;

    //GET DATA
    this.getCategories();
    this.getDataFunc();

    //FUNÇÃO REMOVER IMG DO DROPZONE
    $(document).on("click", ".delBtn", function () {
      let toRemove = $(this).attr("data-file");

      const index = $vm.tmpGaleria.indexOf(toRemove);
      if (index > -1) {
        $vm.tmpGaleria.splice(index, 1);
      }

      axios
      .get("/api/news/delTmpImg", {
        params: {
          image: toRemove,
        },
      })
      .then((response) => {
        $('div[data-file="' + toRemove + '"]').remove();

        $.each($vm.$refs.dropzone.dropzone.files, function (index, val) {
          if (this.previewElement.dataset.file == toRemove) {
            $vm.$refs.dropzone.dropzone.files.splice(index, 1);
          }
        });
      })
      .catch((error) => {
        console.log(error);
      });

      $vm.countFiles++;
    });
  },
  methods: {
    getDataFunc: function () {
      let vm = this;
      //GET DADOS NOTICIA
      axios
      .get("/api/news/getSingleNews/" + vm.newsID)
      .then((response) => {
        vm.getData = response.data.news;


        vm.form.category_id.value = parseInt(vm.getData.category_id, 10);
          //vm.changeCategory(vm.getData.category_id);

          //vm.form.bgColor.value = vm.getData.bgColor;

          let $title = JSON.parse(vm.getData.title);
          let $lead = JSON.parse(vm.getData.highlight_title);
          let $highlight = JSON.parse(vm.getData.highlight);
          let $description = JSON.parse(vm.getData.description);

          vm.form.titlePT.value = $title.pt;
          vm.form.leadPT.value = $lead.pt;
          vm.form.destaquePT.value = $highlight.pt;
          vm.form.conteudoPT.value = $description.pt;

          vm.form.content_url = vm.getData.content_url;

          vm.form.titleEN.value = $title.en;
          vm.form.leadEN.value = $lead.en;
          vm.form.destaqueEN.value = $highlight.en;
          vm.form.conteudoEN.value = $description.en;

          vm.changeHeaderType(vm.getData.header_type);

          if (vm.getData.header_type == "imagem") {
            vm.form.img_alt_text = vm.getData.img_alt_text;
            vm.form.img_subtitle = vm.getData.img_subtitle;
            vm.saved_img_header = vm.url + "/uploads/news/" + vm.getData.img_header;
          } else if (vm.getData.header_type == "galeria") {
            vm.form.galeria_alt_text = vm.getData.gallery_alt_text;
            vm.form.galeria_legenda = vm.getData.gallery_subtitle;
            vm.saved_img_gallery = JSON.parse(vm.getData.gallery_images);

            vm.maxFilesDropzone -= vm.saved_img_gallery.length;
          } else if (vm.getData.header_type == "video") {
            vm.form.video_externo = vm.getData.external_video;
            vm.saved_video_img =
            vm.url + "/uploads/news/" + vm.getData.image_video;

            //SE FOR VIDEO EXTERNO
            if (vm.getData.external_video == 1) {
              vm.form.video_link = vm.getData.url_video;
            } else {
              vm.saved_file_video =
              vm.url + "/uploads/news/" + vm.getData.file_video;
            }
          }

          vm.form.is_slide = vm.getData.is_slide;
          vm.form.destaque = vm.getData.highlighted;
          vm.form.published = vm.getData.published;
          vm.form.tags = vm.getData.tags;
          vm.form.tags_visiveis = vm.getData.tags_show;

          vm.form.seo_url.value = vm.getData.slug;
          vm.form.seo_title.value = vm.getData.seo_title;
          vm.form.seo_description.value = vm.getData.seo_description;
          vm.form.seo_keys.value = vm.getData.seo_keywords;
          vm.seo_img_saved = vm.url + "/uploads/news/" + vm.getData.seo_img;

          if (vm.getData.relateds) {
            let savedRelateds = vm.getData.relateds.split(",");

            $.each(savedRelateds, function (key, value) {
              vm.selectedRelateds.push(parseInt(value, 10));
              vm.markRelated(value);
            });
          }

          
          //console.log(vm.maxFilesDropzone);

          return false;
        })
      .catch((error) => {
        console.log(error);
      });
    },
    sanitizeTitle: function (title) {
      var slug = title.toLowerCase().replace(/ /g,'-').replace(/[-]+/g, '-').replace(/[^\w-]+/g,'').replace(/-+/g,'-');
      return slug;
    },
    generateURL(value) {
      let slug = this.sanitizeTitle(value);
      this.form.seo_url.value = slug;
    },
    changeHeaderType(value) {
      this.form.header_type.value = value;
    },
    /*
    changeCategory(value) {
      let value_categorie = value;
      let vm = this;

      this.form.category_id.value = value;

      /*
      $.each(this.categories, function (key, value) {
        if (value.id == value_categorie) {
          vm.showColors = value.bgColor;

          if (value.bgColor == 0) {
            vm.form.bgColor.value = null;
          }
        }
      });
    },*/
    clear() {},
    removeFromGallery(value) {
      this.saved_img_gallery.splice(value, 1);

      /*
        let calcDropz = 6-(this.saved_img_gallery.length+this.$refs.dropzone.dropzone.files.length);
        this.maxFilesDropzone = calcDropz;
        this.$refs.dropzone.dropzone.options.maxFiles = calcDropz;
        */
      },
      validateForm() {
        let $vm = this;

        let no_blank = [
        "category_id",
        "titlePT",
        "leadPT",
        "destaquePT",
        "titleEN",
        "leadEN",
        "destaqueEN",
        "header_type",
        "seo_url",
        "seo_title",
        "seo_description",
        "seo_keys",
        ];


        if (
          this.form.conteudoPT.value == "" ||
          this.form.conteudoPT.value == null
          ) {
          this.errors.push('Preencher campo "Conteúdo PT"');
      }

      if (
        this.form.conteudoEN.value == "" ||
        this.form.conteudoEN.value == null
        ) {
        this.errors.push('Preencher campo "Conteúdo EN"');
    }

    for (let i = 0; i < no_blank.length; i++) {
      if (!this.form[no_blank[i]].value) {
        this.errors.push(
          'Preencher campo "' + this.form[no_blank[i]].title + '".'
          );
      }
    }

    if (this.showColors > 0 && !this.form.bgColor.value) {
      this.errors.push('Preencher campo "Cor de Fundo"');
    }

      //IF CABEÇALHO == IMAGEM
      if (
        this.form.header_type.value == "imagem" &&
        !this.saved_img_header &&
        !this.form.img_header
        ) {
        this.errors.push('Preencher campo "Imagem"');
    }

      //IF CABEÇALHO == GALERIA
      /*
        if ( this.form.header_type.value == 'galeria' && ( this.$refs.dropzone.dropzone.files.length == 0 )  ) {
          this.errors.push('Preencher campo "Galeria"');
        }*/

      //IF CABEÇALHO == VIDEO
      if (this.form.header_type.value == "video") {
        if (
          this.form.video_externo == false &&
          !this.form.video_file &&
          !this.saved_file_video
          ) {
          this.errors.push('Preencher campo "Upload ficheiro"');
      }
      if (this.form.video_externo == true && !this.form.video_link) {
        this.errors.push('Preencher campo "Video Ligação"');
      }
      if (!this.form.video_img && !this.saved_video_img) {
        this.errors.push('Preencher campo "Video Imagem"');
      }
    }
  },
  closeValidate() {
    this.errors = [];
    this.errorShow = false;
  },
  getCategories() {
    axios
    .get("/getCategories")
    .then((response) => {
      this.categories = response.data;
    })
    .catch((error) => {
      console.log(error);
    });
  },
  searchRelateds(value) {
    axios
    .get("/api/news/getRelateds/" + value)
    .then((response) => {
      let list = [];
      $.each(response.data.relateds, function (key, value) {
        let $title = JSON.parse(value.title);
        list.push({ id: value.id, title: $title.pt });
      });
      this.resultRelateds = list;
    })
    .catch((error) => {
      console.log(error);
    });
  },
  markRelated(value) {
    let $vm = this;
    let list = [];

    $.each(this.selectedRelateds, function (key, value) {
      axios
      .get("/api/news/getSingleNews/" + value)
      .then((response) => {
        let $title = JSON.parse(response.data.news.title);
        list.push({ id: response.data.news.id, title: $title.pt });
      })
      .catch((error) => {
        console.log(error);
      });
    });

    this.showRelateds = list;
  },
  submit() {
    let $vm = this;

    this.validateForm();

    if (this.errors.length > 0) {
      this.errorShow = true;
    } else {
      let $vm = this;

      var rawData = JSON.stringify(this.form);
      var galeria = JSON.stringify(this.tmpGaleria);

      const formData = new FormData();

      formData.append("data", rawData);
      formData.append("img_header", this.form.img_header);
      formData.append("galeria_imgs", galeria);
      formData.append("video_file", this.form.video_file);
      formData.append("video_img", this.form.video_img);
      formData.append("seo_img", this.form.seo_img.value);
      formData.append("relateds", $vm.selectedRelateds);

      axios.post("/api/news/update", formData).then(
        function (result) {
          $vm.$router.push({ path: "/dashboard/news" });
        },
        function (error) {
          console.log(error);
        }
        );
    }
  },
},
};
</script>