<template>
  <div class="site-logo">
    <router-link to="/" style="margin: 5px auto;">
      <img :src="appLogo" alt="site logo" width="50" >
    </router-link>
  </div>
</template>

<script>
import AppConfig from "Constants/AppConfig";
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["sidebarSelectedFilter"])
  },
  data() {
    return {
      appLogo: AppConfig.appLogoWhite,
      darkLogo: AppConfig.darkLogo
    };
  }
};
</script>
