@font-face {
	font-family: "Optima-Bold";
	src: url("../../../../../public/fonts/Optima-Bold.ttf");
}

@font-face {
	font-family: "Optima-Regular";
	src: url("../../../../../public/fonts/Optima-Regular.ttf");
}

$optimaBold: "Optima-Bold";
$optimaRegular: "Optima-Regular";


/* TYPE 1 */
.title-highlight.left-title {
	left: 30.5% !important;
}

.title-highlight {
	position: absolute !important;
	top: 60px !important;
	z-index: 1 !important;
}

.hightlight .hightlight-small.object {
	height: 60% !important;
}

.hightlight .hightlight-small {
	position: relative !important;
	width: 100% !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.hightlight .hightlight-big {
	position: relative !important;
	width: 100% !important;
	height: 55rem !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.hightlight {
	position: relative !important;
}

.section {
	padding: 120px !important;
}
.pt-0 {
	padding-top: 0!important;
}

.error-input {
	border: 1px solid red !important;
}

.align-items-end {
	align-items: flex-end!important;
}

.title-highlight .title {
	font-family: "Optima-Regular" !important;
	font-size: 28pt !important;
	text-align: left !important;
	text-transform: uppercase !important;
}

.title {
	font-family: "Optima-Regular" !important;
	font-size: 28pt !important;
	text-align: center !important;
	margin: 0 auto !important;
	width: 28rem !important;
}


/*======== Main Scss ========*/
.v-input__slot {
	.v-select__slot {
		.v-input__append-inner {
			.v-input__icon--clear {
				position: absolute;
				right: 0;
				z-index: 9999;
			}
			
		}
	}
}

.type-slider {
	padding: 20px 10px !important;
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	justify-content: center;


	img {
		height: 28px !important;
		width: 28px !important;
	}

	label {
		padding-left: 5px !important;
	}
}

.type-active {
	border: 1px solid #464D69 !important;
}

#undefined-wrapper {
	.datetimepicker {
		position: "relative" !important;

		.datepicker {
			position: "relative" !important;
		}
	}
} 

.v-list-item__title {
	cursor: pointer !important;
}

.loader-overlay {
	z-index: 9999 !important;
}

.flash-box {
	position: fixed;
	bottom: 3%;
	right: 3%;
	bottom: 5%;
	right: 5%;
	padding: 12px 32px;
	box-sizing: border-box;
	z-index: 9999 !important;
	color: white;
	z-index: 9999 !important;
}

#undefined-wrapper {
	.datetimepicker {
		position: relative !important;

		.datepicker {
			position: relative !important;
		}
	}
}

.float-right {
	float: right !important;
}

.justify-end {
	justify-content: flex-end !important; 
}


.head {
	padding: 0px !important;
	display: flex;
	align-items: center;
	flex-direction: row;

	h2 {
		margin: 0 !important;
	}
}

.container {
	position: relative !important;
}

.card {
	box-shadow: 0px 0px 11px #eee !important;
	background: white;
	padding: 22px;
	box-sizing: border-box;
}


.app-card {
	background-color: $card-bg;
	border-radius: $card-border-radius;
	margin-bottom: $card-margin-bottom;
	box-shadow: $card-shadow;
	transition: all .4s ease-in-out 0s;
	position: relative;
	height:100%;
	overflow: hidden;
	.app-card-title {
		position: relative;
		padding: $card-title-spacing;
		border-bottom: $card-title-border;
		display:flex;
		align-items:center;
		justify-content: space-between;
		h3, .app-title {
			font-size: $card-title-font-size;
			color: $card-title-color;
			text-transform: $card-title-transform;
			font-weight: $card-title-weight;
			margin: 0;
		}
	}
	.app-contextual-link {
		.v-btn {
			.v-icon {
				color: $contextual-link-color;
			}
		}
	}
	.app-card-content {
		padding: $card-spacing;
	}
	.app-full-content {
		padding: 0;
	}
	.app-footer {
		padding: $card-footer-spacing;
		border-top: $card-border;
		.v-btn{
			margin:0;
		}
	}
	&:hover {
		box-shadow: $card-hover-shadow;
	}
}

.app-card-action{
	background-color:$base-light !important;
	overflow: hidden;
	.v-list-item{
		height:40px;
		font-size: 0.875rem;
		margin:0.3125rem;
		background-color: $light;
		box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02);
		span{
			transition:all 0.4s ease-in-out;
		}
		&:hover{
			background-color: $light !important;
			span{
				color:$primary !important;
			}
		}
	}
}

.content {
	overflow-y: hidden;
}
.dash-title {
	margin: 0.9375rem 0; //15px;
	span {
		color: $d-title-color;
		font-size: $d-title-font-size;
		text-transform: $d-title-transform;
		letter-spacing: 2px;
		font-weight: bold;
	}
	a{
		vertical-align: 1px;
		.v-icon{
			font-size: $d-title-font-size;
			margin-left: 5px;
		}
	}
}
.dash-card-wrap, .card {
	transition: all 0.4s ease-in-out 0s;
	&:hover {
		box-shadow: $card-hover-shadow;
	}
}
#nprogress .bar {
	background: $danger !important;
}
#nprogress .spinner-icon {
	border-top-color: $danger !important;
	border-left-color: $danger !important;
}
