<template>
  <div v-if="open == true && loader == false" class="container container--fluid">
    <app-card>
      <v-breadcrumbs>
        <h2 class="pl-0 col-6 col-sm-6">Adicionar {{ this.props.title }}</h2>

        <div class="col-6 col-sm-6" style="text-align: right !important">
          <v-btn fab small color="error" @click="close()">
            <v-icon dark>close</v-icon>
          </v-btn>
        </div>
      </v-breadcrumbs>

      <template>
        <v-container fluid class="pt-0 mt-0">
          <div v-if="data.sub_events.length">
            <p class="subtitle">Sub Categoria</p>
            <v-select :items="data.sub_events" item-text="name.pt" item-value="id" v-model="form.id_sub_events" ></v-select>
          </div>

          <p class="subtitle">Texto PT</p>
          <quill-editor v-model="form.name.pt" ref="myQuillEditor" class="mb-7"></quill-editor>

          <p class="subtitle">Texto EN</p>
          <quill-editor v-model="form.name.en" ref="myQuillEditor" class="mb-7"></quill-editor>

          <p class="subtitle">Data (início)</p>
          <VueCtkDateTimePicker class="mb-7" v-model="form.date_start" format="YYYY-MM-DD" formatted="ll" inputSize="lg" label="" onlyDate />

          <p class="subtitle">Data (final)</p>
          <VueCtkDateTimePicker v-model="form.date_end" format="YYYY-MM-DD" formatted="ll" inputSize="lg" label="" onlyDate/>

          <v-btn color="success" class="mt-7" @click="validateForm">INSERIR</v-btn>
        </v-container>
      </template>
    </app-card>

    <FlashMessage ref="flash"></FlashMessage>
  </div>
</template>


<style>
  .quill-editor {
    height: 150px !important;
  }

  .ql-container {
    height: 100px !important;
    min-height: 100px !important;
  }
  
</style>

<script>
  import axios from "axios";
  import FlashMessage from '../components/FlashMessage';

  export default {
    components: {
      FlashMessage
    },

    data() {
      return {
        open: false, 
        loader: true,
        props: {},
        data: {},
        form: {
          name: {}
        }
      }
    },

    mounted() {},

    methods: {
      close() {
        this.open = false;
        this.$emit('close');
      },
      get() {
        axios.get("/api/events/get/categoria/"+this.props.id).then((response) => {
          this.data = response.data;
          this.loader = false;
        })
        .catch((error) => {
          console.log(error);
        });
      },
      validateForm() {
        if ( this.data.sub_events.length && !this.form.id_sub_events ) {
          alert("Preencher campo 'Sub Categoria'!");
        } 
        else if (!this.form.name) {
          alert("Preencher campo 'TEXTO'!");
        } 
        else {
          this.submit();
        }
      },
      submit() {
        this.form.id_events = this.props.id;

        axios.post("/api/events/store", this.form).then((response) => {
          this.form = {};
          this.form.name = {};

          this.$refs.flash.open = true;
          this.$refs.flash.status = "success";
          
          setTimeout(() => {
            this.$refs.flash.open = false;
            this.open = false;
            this.$emit('updated');
          }, 1000);
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.$refs.flash.open = true;
            this.$refs.flash.status = "error";

            setTimeout(() => {
              this.$refs.flash.open = false;
            }, 1200);
            return;
          }
        });
      },
    }

  }
</script>