<template>
  <div v-if="loader == false">

    <div class="container container--fluid">
      <div class="row card">
        <div class="col-sm-6 head"><h2>Editar Evento</h2></div>
      </div>
    </div>

    <div class="container container--fluid">
     <div class="row card">
      <v-container fluid class="pt-0 mt-0">
        <div v-if="data.sub_events.length">
          <p class="subtitle">Sub Categoria</p>
          <v-select :items="data.sub_events" item-text="name.pt" item-value="id" v-model="form.id_sub_events" ></v-select>
        </div>

        <p class="subtitle">Texto PT</p>
        <quill-editor v-model="form.name.pt" ref="myQuillEditor" class="mb-7"></quill-editor>

        <p class="subtitle">Texto EN</p>
        <quill-editor v-model="form.name.en" ref="myQuillEditor" class="mb-7"></quill-editor>

        <p class="subtitle">Data (início)</p>
        <VueCtkDateTimePicker class="mb-7" v-model="form.date_start" format="YYYY-MM-DD" formatted="ll" inputSize="lg" label="" onlyDate />

        <p class="subtitle">Data (final)</p>
        <VueCtkDateTimePicker v-model="form.date_end" format="YYYY-MM-DD" formatted="ll" inputSize="lg" label="" onlyDate/>

        <v-btn color="success" class="mt-7" @click.prevent="save()">Guardar</v-btn>
        <v-btn color="primary" class="mt-7" to="/dashboard/events">Voltar atrás</v-btn>
      </v-container>
    </div>
  </div>

  <FlashMessage ref="flash"></FlashMessage>

</div>
</template>

<script>
  import axios from "axios";
  import FlashMessage from '../components/FlashMessage';

  export default {
    components: {
      FlashMessage
    },

    props: ["id"],

    data() {
      return {
        loader: true,
        form: {},
        data: {},
        sub_categorias: []
      }
    },

    mounted() {
      this.get();
    },

    methods: {
      get() {
        this.loader = true;

        axios.get("/api/events/get/"+this.id).then((response) => {
          this.form = response.data;
          this.loader = false;
          this.getSuCategorias();
          console.log(this.form);
        }).catch((error) => {
          console.log(error);
        });
      },
      getSuCategorias() {
        this.loader = true;

        axios.get("/api/events/get/categoria/"+this.form.id_events).then((response) => {
          this.data = response.data;
          this.loader = false;
          console.log(this.data);
        }).catch((error) => {
          console.log(error);
        });
      },
      save() {
        axios.put("/api/events/update/"+this.form.id,this.form).then((response) => {
          this.$refs.flash.open = true;
          this.$refs.flash.status = "success";

          setTimeout(() => {
            window.location = '/dashboard/events'
          }, 1000);
        })
        .catch((error) => {
          if (error.response.status == 422) {
            this.$refs.flash.open = true;
            this.$refs.flash.status = "error";

            setTimeout(() => {
              this.$refs.flash.open = false;
            }, 1200);
            return;
          }
          console.log(error);
          
        });
      }
    }
  }
</script>