<template>
  <div>
    <AddEvento ref="modalAddEvento" @updated="getEvents()" @close="open = true"></AddEvento>

    <div v-show="open == true">
      <DeleteConfirmationDialog ref="delete" @onConfirm="deleteFunction"></DeleteConfirmationDialog>
      
      <AddTipoEvento ref="modalEvento" @updated="getEvents()"></AddTipoEvento>

      <EditCategoria ref="modalEditCategoria" @updated="getEvents()"></EditCategoria>

      <AddSubCategoria ref="modalSubCategoria" @updated="getEvents()"></AddSubCategoria>
      <EditSubCategoria ref="modalEditSubCategoria" @updated="getEvents()"></EditSubCategoria>
      <DeleteSubCategoria ref="deleteSubCategoria" @updated="getEvents()"></DeleteSubCategoria>


      <div class="container container--fluid">
        <div class="row card">
          <div class="col-sm-6 head"><h2>Eventos</h2></div>
          <div class="col-sm-6 head justify-end">
            <button class="v-btn v-btn--contained v-size--default primary" @click="$refs.modalEvento.open = true">+ Tipo Evento</button>
          </div>
        </div>
      </div>

      <!-- FOR TIPO EVENTOS -->
      <div class="container container--fluid" v-for="data in events.data" v-bind:key="data.id">

        <v-app-bar secondary dark>
          <v-app-bar-nav-icon></v-app-bar-nav-icon>
          <v-toolbar-title class="white--text">{{ data.name.pt }}</v-toolbar-title>
          <v-spacer></v-spacer>

          <v-menu left bottom >
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-item>
                <v-list-item-title @click="addEvent(data.id, data.name.pt)">Criar Evento</v-list-item-title>
              </v-list-item>
              <v-list-item>
                <v-list-item-title @click="openSubCategoriaModal(data.id)">Criar Sub Categoria</v-list-item-title>
              </v-list-item>
              <v-list-item>
                <v-list-item-title @click="editCategoria(data.id)">Editar Categoria</v-list-item-title>
              </v-list-item>
              <v-list-item>
                <v-list-item-title @click="deleteCategoria(data.id)">Eliminar Categoria</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-app-bar>


        <div class="card">

          <!-- SUB CATEGORIAS -->
          <div v-if="data.sub_events.length > 0" class="col-md-12 pa-0">
            <div v-for="item in data.sub_events" v-bind:key="item.id">
              <div class="col-md-12 pb-5 mb-5" style="border-bottom: 1px solid #ccc">
                <div class="row">
                  <div class="col-sm-6 head">
                    <div style="font-weight: bold">{{ item.name.pt }}</div>
                  </div>

                  <div class="col-sm-6 head justify-end" style="text-align: right !important;">
                    <v-menu left bottom >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn icon v-bind="attrs" v-on="on">
                          <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                      </template>

                      <v-list>
                        <v-list-item>
                          <v-list-item-title @click="editSubCategoria(item.id)">Editar</v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                          <v-list-item-title @click="deleteSubCategoria(item.id)">Eliminar Sub Categoria</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </div>
                </div>
              </div>

              <v-data-table :headers="headers" :items="item.list_events" :options.sync="options" :footer-props="{'items-per-page-text':'Mostrar'}" class="mb-6">
                <template>
                  <tr>
                    <th v-for="header in headers" :key="header.text">
                      <b>{{ header.text }}</b>
                    </th>
                  </tr>
                </template>
                <template v-slot:item="{ item }">
                  <tr>
                    <td v-html="item.name.pt"></td>
                    <td style="width: 200px !important;">{{ item.date_start }}</td>
                    <td style="width: 200px !important;">{{ item.date_end }}</td>
                    <td style="width: 200px !important;">

                      <router-link :to="{ name: 'editEvents', params: { id: item.id }}">
                        <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default">
                          <span class="v-btn__content">
                            <i aria-hidden="true" class="v-icon notranslate primary--text material-icons theme--light">edit</i>
                          </span>
                        </button>
                      </router-link>

                      <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"  @click="confirmDelete(item.id)">
                        <span class="v-btn__content">
                          <i aria-hidden="true" class="v-icon notranslate error--text material-icons theme--light">close</i>
                        </span>
                      </button>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </div>
          </div>
          <div v-else class="col-md-12 pa-0">
            <v-data-table :headers="headers" :items="data.list_events" :options.sync="options" :footer-props="{'items-per-page-text':'Mostrar'}">
              <template>
                <tr>
                  <th v-for="header in headers" :key="header.text">
                    <b>{{ header.text }}</b>
                  </th>
                </tr>
              </template>
              <template v-slot:item="{ item }">
                <tr>
                  <td v-html="item.name.pt"></td>
                  <td style="width: 200px !important;">{{ item.date_start }}</td>
                  <td style="width: 200px !important;">{{ item.date_end }}</td>
                  <td style="width: 200px !important;">

                    <router-link :to="{ name: 'editEvents', params: { id: item.id }}">
                      <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"  :to="{ name: 'editNews', params: { id: item.id }}">
                        <span class="v-btn__content">
                          <i aria-hidden="true" class="v-icon notranslate primary--text material-icons theme--light">edit</i>
                        </span>
                      </button>
                    </router-link>

                    <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"  @click="confirmDelete(item.id)">
                      <span class="v-btn__content">
                        <i aria-hidden="true" class="v-icon notranslate error--text material-icons theme--light">close</i>
                      </span>
                    </button>
                  </td>
                </tr>
              </template>
            </v-data-table>
          </div>
        </div>
      </div>

    </v-container>
  </div>
</div>
</template>

<script>
  import axios from "axios";

  import DeleteConfirmationDialog from "Components/DeleteConfirmationDialog/DeleteConfirmationDialog";

  import AddTipoEvento from "./modals/AddEvento.vue";

  import EditCategoria from "./modals/EditCategoria.vue";

  import AddSubCategoria from "./modals/AddSubCategoria.vue";
  import EditSubCategoria from "./modals/EditSubCategoria.vue";
  import DeleteSubCategoria from "./modals/DeleteSubCategoria.vue";

  import AddEvento from "./Add.vue";

  export default {
    components: {
      DeleteConfirmationDialog,
      AddTipoEvento,
      AddSubCategoria,
      AddEvento,

      EditCategoria,

      EditSubCategoria,
      DeleteSubCategoria
    },

    data() {
      return {
        open: true,

        headers: [{
          text: "Titulo",
          sortable: false,
          value: "Titulo",
        },
        {
          text: "Data Inicio",
          sortable: false,
          value: "date_start",
        },
        {
          text: "Data Fim",
          sortable: false,
          value: "date_end",
        },
        {
          text: "",
          sortable: false,
          value: "",
        }],
        options: {},

        events: {
          data: [],
          total: 0,
          per_page: null,
          from: 1,
          to: 0,
          current_page: 1,
        },

      };
    },
    mounted: function () {
      this.getEvents();
    },
    methods: {
      //CATEGORIA
      editCategoria(value) {
        console.log("aqui");
        this.$refs.modalEditCategoria.open = true;
        this.$refs.modalEditCategoria.props = {
          'id': value
        };
        this.$refs.modalEditCategoria.get();
      },
      //SUB CATEGORIA
      deleteSubCategoria(value) {
        this.$refs.deleteSubCategoria.open = true;
        this.$refs.deleteSubCategoria.toDelete = value;
      },
      openSubCategoriaModal(value) {
        this.$refs.modalSubCategoria.open = true;
        this.$refs.modalSubCategoria.form.id_events = value;
      },
      editSubCategoria(value) {
        this.$refs.modalEditSubCategoria.open = true;
        this.$refs.modalEditSubCategoria.props = {
          'id': value
        };
        this.$refs.modalEditSubCategoria.get();
      },
      getEvents() {
        axios.get("/api/events/getAll").then((response) => {
          this.events = response.data;
          this.open = true;

          console.log(this.events);
        })
        .catch((error) => {
          console.log(error);
        });
      },
      addEvent(id, title) {
        this.open = false;

        this.$refs.modalAddEvento.open = true;
        this.$refs.modalAddEvento.props = {
          'id': id,
          'title': title
        };

        this.$refs.modalAddEvento.get();
      },
      confirmDelete(value) {
        this.$refs.delete.open = true;
        this.selectedToDelete = value;
      },
      deleteFunction() {
        axios.get("/api/events/delete/" + this.selectedToDelete).then((response) => {
          this.$refs.delete.open = false;
          this.getEvents();
        }).catch((error) => {
          console.log(error);
        });
      },
      deleteCategoria(value) {
        axios.get("/api/events/categoria/delete/" + value).then((response) => {
          this.$refs.delete.open = false;
          this.getEvents();
        }).catch((error) => {
          console.log(error);
        });
      }
    }
  };
</script>