<template>
  <div>
    <app-card colClasses="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

      <h2>Homepage</h2>
      
    </app-card>
  </div>
</template>

<script>

  export default {
    props: [

    ],

    components: {

    },

    data() {
      return {

      };
    },

    mounted: function () {

    },
  };
</script>