<template>
	<div v-if="loader == false">
		<Flash ref="flash"></Flash>
		
		<app-card class="col-sm-12">
			<div>
				<h3>Adicionar</h3>
			</div>

			<v-tabs class="col-sm-12">
				<v-tab @click="tab = 1">Título</v-tab>
				<v-tab @click="tab = 2">Media</v-tab>
				<v-tab @click="tab = 3">Opções</v-tab>
			</v-tabs>

			<v-form ref="form">
				<div v-show="tab == 1">
					<v-text-field v-for="item in this.$store.getters.languages" :label="'Título ' + item.name " v-model="form.title[item.locale]" :key="'item' + item.locale" class="pb-3"></v-text-field>
				</div>

				<div v-show="tab == 2">
					<v-file-input label="Imagem" v-model="form.image" class="mb-3" prepend-icon="" dense counter show-size @change="previewImages" :rules="rules.required"></v-file-input>
					<v-img :src="preview.image" width="200px" class="mb-6" v-if="preview.image"></v-img>

					<v-text-field v-for="item in this.$store.getters.languages" :label="'URL ' + item.name " v-model="form.url[item.locale]" :key="'url' + item.locale" class="pb-3"></v-text-field>
				</div>

				<div v-show="tab == 3">
					<v-text-field label="Cor Fundo (Hex)" v-model="form.hex" class="pb-3"></v-text-field>
					<v-text-field label="Ordem (deixar vazio para adicionar em último)" v-model="form.order" class="pb-3"></v-text-field>
				</div>

				<div class="col-sm-12 pl-0 ml-0 pt-3">
					<v-btn color="success" @click.stop="save()">Guardar</v-btn>
				</div>
			</v-form>

		</app-card>
	</div>

	<div v-else>
		<Progress></Progress>
	</div>
</template>

<script>

	export default {
		props: ['id'],

		components: { },

		data() {
			return {
				url: window.baseUrl,
				loader: true,

				tab: 1,

				action: null,
				route: null,

				rules: {
					required: [value => !!value || "Campo obrigatório."]
				},
				
				form: {
					title: {},
					url: {}
				},

				formData: new FormData(),
				
				preview: {},
				errors: [],
			};
		},

		mounted() {
			if ( this.id ) {
				this.action = 'update';
				this.route = "/dashboard/newsletters/update/" + this.id;

				this.get();
			}
			else {
				this.action = 'store';
				this.route =  "store";

				this.loader = false;	
			}
		},

		methods: {
			get() {
				axios.get('/dashboard/newsletters/fetch/'+this.id).then(response => {
					this.form = response.data;

					this.form.title = JSON.parse(response.data.title);
					this.form.url = JSON.parse(response.data.url);

					if ( this.form.image ) {
						this.preview.image = this.url+'/newsletters/'+this.form.image;
						this.form.image = null;
					}

					if ( this.form.file ) {
						this.preview.file = this.url+'/newsletters/'+this.form.file;
						this.form.file = null;
					}

					this.loader = false;
				}).catch(errors => {
					console.log(errors);
				});
			},
			previewImages() {
				if ( this.form.image ) {
					this.preview.image = URL.createObjectURL(this.form.image);
				}
			},
			save() {
				this.$refs.form.validate();

				Object.keys(this.form).map((key, value) => {
					if ( this.form[key] != null ) {
						if ( key == 'title' || key == 'url' ) {
							this.formData.append(key, JSON.stringify(this.form[key]));
						} 
						else {
							this.formData.append(key, this.form[key]);	
						}
					}
				});

				axios.post(this.route, this.formData).then(response => {
					this.loader = false;
					this.$refs.flash.handler(true, 'success', 'Guardado com sucesso!');
					//setTimeout(() => window.location.href = "/dashboard/newsletters", 1500);
				}).catch(error => {
					if ( error.response.status == 422 ) {
						this.$refs.flash.handler(true, 'error', 'Campos em falta!');
						this.errors = [];
						Object.keys(error.response.data.errors).map((key) => {
							this.errors.push(key);
						});
					}
				});
				
			}
		}
	};
</script>