<template>
  <div v-if="loader == false">

    <Flash ref="flash"></Flash>
    <Delete ref="delete" @onConfirm="deleteFunction"></Delete>

    <app-card class="col-sm-12">

      <div class="row pb-6">
        <v-btn class="ma-2" color="primary" :to="'newsletters/form'">Adicionar</v-btn>
      </div>

      <v-data-table :headers="headers" :items="data" :footer-props="{ itemsPerPageText: 'Mostrar' }">
        <template v-slot:item="{ item }">
          <tr>
            <td>
              <img :src="url + '/newsletters/' + item.image" height="100px">
            </td>
            <td>
              {{ JSON.parse(item.title)['pt'] }}
            </td>
            <td>
              {{ item.order }}
            </td>
            <td>
              <router-link :to="'newsletters/form/' + item.id">
                <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default">
                  <span class="v-btn__content">
                    <i aria-hidden="true" class="v-icon notranslate primary--text material-icons theme--light">edit</i>
                  </span>
                </button>
              </router-link>

              <button type="button" class="mx-0 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"  @click="confirmDelete(item.id)">
                <span class="v-btn__content">
                  <i aria-hidden="true" class="v-icon notranslate error--text material-icons theme--light">close</i>
                </span>
              </button>
            </td>
          </tr>
        </template>
      </v-data-table>

    </app-card>
  </div>

  <div v-else>
    <Progress></Progress>
  </div>
</template>

<script>

  export default {
    props: [],

    components: { },

    data() {
      return {
        url: window.baseUrl,
        loader: true,
        data: {},
        headers: [
        { text: "Imagem" },
        { text: "Título" },
        { text: "Ordem" },
        { text: "Opções" }
        ],
        toDelete: null
      };
    },

    mounted() {
      this.get();
    },

    methods: {
      get() {
        axios.get('/dashboard/newsletters/get').then(response => {
          this.data = response.data;
          this.loader = false;
        }).catch(errors => {
          console.log(errors);
        });
      },
      confirmDelete(value) {
        this.$refs.delete.open = true;
        this.toDelete = value;
      },
      deleteFunction() {
        axios.delete("/dashboard/newsletters/delete/" + this.toDelete).then((response) => {
          this.$refs.delete.open = false;
          this.$refs.flash.handler(true, 'success', 'Eliminado com sucesso!');
          this.get();
        }).catch((error) => {
          console.log(error);
        });
      }
    }
  };
</script>