<template>
  <v-list-item class="sidebar-profile">
    <v-list-item-avatar>
      <img src="/images/logos/round_logo_white.svg" alt="avatar" height="40" width="40" class="img-responsive" />
    </v-list-item-avatar>
    <v-list-item-content class="ml-3">
      <v-list-item-title>
        <span>FlamEtLuce</span>
      </v-list-item-title>
    </v-list-item-content>
    <v-menu bottom offset-y left content-class="userblock-dropdown" nudge-top="-10" nudge-right="0"
      transition="slide-y-transition">
      <template v-slot:activator="{ on }">
        <v-btn dark icon v-on="on" class="ma-0">
          <v-icon>more_vert</v-icon>
        </v-btn>
      </template>
      <div class="dropdown-content">
        <div class="dropdown-top white--text primary">
          <span class="white--text fs-14 fw-bold d-block">FlamEtLuce</span>
        </div>
        <v-list class="dropdown-list">
          <template v-for="userLink in userLinks">
            <template v-if="userLink.id !== 4">
              <v-list-item :to="getMenuLink(userLink.path)" :key="userLink.id">
                <i :class="userLink.icon"></i>
                <span>{{$t(userLink.title)}}</span>
              </v-list-item>
            </template>
            <template v-else>
              <v-list-item @click="logoutUser" :key="userLink.id">
                <i :class="userLink.icon"></i>
                <span>{{$t(userLink.title)}}</span>
              </v-list-item>
            </template>
          </template>
        </v-list>
      </div>
    </v-menu>
  </v-list-item>
</template>

<script>
  import { getCurrentAppLayout } from "Helpers/helpers";

  import axios from "axios";

  export default {
    data() {
      return {
        userLinks: [
          {
            id: 4,
            title: "Sair da conta",
            icon: "ti-power-off mr-3 error--text"
          }
        ]
      };
    },
    mounted() {

    },
    methods: {
      logoutUser() {
        this.$store.dispatch("logoutUserFromLaravelPassport", this.$router);
      },
      getMenuLink(path) {
        return "/" + getCurrentAppLayout(this.$router) + path;
      }
    }
  };
</script>