<template>
	<div v-if="open == true">
		<div class="flash-box" :class="status">
			{{ message }}
		</div>	
	</div>
</template>

<script>
	export default {
		props: [],

		data() {
			return {
				open: false,
				status: null,
				message: null
			};
		},

		mounted() { },

		methods: {
			handler(open, status, message) {
				this.open = open;
				this.status = status;
				this.message = message;
			}
		},

		watch: {
			open: {
				handler() {
					setTimeout(() => this.open = false, 1200);
				},
				deep: true
			},
		},

	};
</script>