<template>
	<div>
		<v-progress-linear indeterminate color="green" height="7"></v-progress-linear>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				interval: {},
				value: 0,
				valueDeterminate: 50,
				buffer: 10,
				bufferValue: 20
			};
		},
		beforeDestroy() {
			clearInterval(this.interval);
		},
		methods: {
			startBuffer() {
				this.interval = setInterval(() => {
					this.buffer += Math.random() * (15 - 5) + 5;
					this.bufferValue += Math.random() * (15 - 5) + 5;
				}, 2000);
			}
		},
		mounted() {
			this.interval = setInterval(() => {
				if (this.value === 100) {
					return (this.value = 0);
				}
				this.value += 10;
			}, 1000);
			this.startBuffer();
		}
	};
</script>